### Defining costs

In [70]:
Kulud = {
  "Kompleksteenus(€/tm)": 15,
  "Transport (€/tm)": 6,
  "Alghinna(%)": 10
}

### Reading in EXCEL file for Wood prices.

In [71]:
import pandas as pd

# Reading in EXCEL file for wood prices.
wood_prices = pd.read_excel('Data_Sources/Wood_prices.xlsx')

print(wood_prices)

                    Sortiment  Hind (€)
0                     Ma palk        95
1                     Ku palk        95
2                Ks palk/pakk       110
3                     Hb palk        58
4                     Lm palk        60
5                     Lv palk        50
6                     Sa palk        40
7                     Ta palk        40
8                     Lh palk        40
9                     Sd palk        40
10  Lehtpuu palk (Va, Ja, Kp)        35
11                Ma peenpalk        64
12                Ku peenpalk        64
13              Ma paberipuit        62
14              Ku paberipuit        62
15              Ks paberipuit        50
16              Hb paberipuit        50
17                  Küttepuit        39
18                    Jäätmed         3

### Reading in the JSON file for a specific cadastral.

In [72]:
import json

# Reading in JSON file for a specific cadastral.
f = open('Data_Sources/response_1758028130935.json')
d = json.load(f)
e = d['stands']

# Create an empty list to store the new, transformed data records.
transformed_data_list = []
# Loop through each individual record (which is a dictionary) in the list.
for record in e:
    # Extract the stand number for the current record.
    stand_number = record["stand_number"]
    # Now you can safely access the values using keys from this single record.
    # Create a list of dictionaries for each species in the current record.
    species_data = [
        {
            "Stand nr": stand_number,
            "Species": "Pine",
            "Height m": record["pine_bam_height_m"],
            "Diameter cm": record["pine_bam_dbh_cm"],
            "Area ha": record["total_area_ha"],
            "Volume m3/ha": record["pine_total_volume_m3_ha"],
            "Stock m3": record["total_area_ha"] * record["pine_total_volume_m3_ha"]
        },
        {
            "Stand nr": stand_number,
            "Species": "Spruce",
            "Height m": record["spruce_bam_height_m"],
            "Diameter cm": record["spruce_bam_dbh_cm"],
            "Area ha": record["total_area_ha"],
            "Volume m3/ha": record["spruce_total_volume_m3_ha"],
            "Stock m3": record["total_area_ha"] * record["spruce_total_volume_m3_ha"]
        },
        {
            "Stand nr": stand_number,
            "Species": "Birch",
            "Height m": record["birch_bam_height_m"],
            "Diameter cm": record["birch_bam_dbh_cm"],
            "Area ha": record["total_area_ha"],
            "Volume m3/ha": record["birch_total_volume_m3_ha"],
            "Stock m3": record["total_area_ha"] * record["birch_total_volume_m3_ha"]
        
        },
        {
            "Stand nr": stand_number,
            "Species": "Other Deciduous",
            "Height m": record["other_deciduous_bam_height_m"],
            "Diameter cm": record["other_deciduous_bam_dbh_cm"],
            "Area ha": record["total_area_ha"],
            "Volume m3/ha": record["other_deciduous_total_volume_m3_ha"],
            "Stock m3": record["total_area_ha"] * record["other_deciduous_total_volume_m3_ha"],
            
        }
    ]
    # Add the newly created species data to our main list.
    transformed_data_list.extend(species_data)
# Finally, create a single DataFrame from the combined list of all records.
JSON_cadastral_data = pd.DataFrame(transformed_data_list)
print(JSON_cadastral_data.head())

  Stand nr          Species  Height m  Diameter cm  Area ha  Volume m3/ha  \
0        0             Pine       9.2           12     0.17             0
1        0           Spruce      13.7           17     0.17           107
2        0            Birch      14.8           15     0.17            13
3        0  Other Deciduous      15.9           18     0.17             0
4        1             Pine       0.0            0     0.98             0

   Stock m3
0      0.00
1     18.19
2      2.21
3      0.00
4      0.00

### Reading in EXCEL file for Tree Names.

In [73]:
# Reading in EXCEL file for Tree Names.
Tree_Name = pd.read_excel('Data_Sources/Tree_Name_mapping.xlsx')

print(Tree_Name.head())

  Name_EE         Name_ENG
0      MA             Pine
1      KU           Spruce
2      KS            Birch
3      LV  Other Deciduous
4      HB              NaN

### Reading in EXCEL file for relative height.

In [74]:
# Reading in EXCEL file for relative height.
h24_coefficient = pd.read_excel('Data_Sources/h24_coefficient.xlsx')

print(h24_coefficient)

     d      MA     KU      KS      LV      HB      LM      TA      SA      VA  \
0    8  0.4300  0.350  0.5500  0.5500  0.5200  0.5200  0.3800  0.3800  0.3800
1    9  0.5000  0.410  0.6000  0.6000  0.5700  0.5700  0.4400  0.4400  0.4400
2   10  0.5500  0.470  0.6400  0.6400  0.6200  0.6200  0.5000  0.5000  0.5000
3   11  0.6100  0.530  0.6800  0.6800  0.6600  0.6600  0.5500  0.5500  0.5500
4   12  0.6500  0.580  0.7200  0.7200  0.7000  0.7000  0.6000  0.6000  0.6000
5   13  0.7000  0.630  0.7600  0.7600  0.7400  0.7400  0.6500  0.6500  0.6500
6   14  0.7400  0.680  0.7900  0.7900  0.7700  0.7700  0.7000  0.7000  0.7000
7   15  0.7700  0.720  0.8200  0.8200  0.8000  0.8000  0.7400  0.7400  0.7400
8   16  0.8100  0.760  0.8400  0.8400  0.8300  0.8300  0.7700  0.7700  0.7700
9   17  0.8400  0.800  0.8700  0.8700  0.8600  0.8600  0.8100  0.8100  0.8100
10  18  0.8700  0.830  0.8900  0.8900  0.8800  0.8800  0.8400  0.8400  0.8400
11  19  0.8900  0.860  0.9100  0.9100  0.9100  0.9100  0.8700  0.8700  0.8700
12  20  0.9200  0.890  0.9300  0.9300  0.9300  0.9300  0.9000  0.9000  0.9000
13  21  0.9400  0.920  0.9500  0.9500  0.9500  0.9500  0.9250  0.9250  0.9250
14  22  0.9600  0.950  0.9700  0.9700  0.9700  0.9700  0.9500  0.9500  0.9500
15  23  0.9800  0.975  0.9850  0.9850  0.9850  0.9850  0.9750  0.9750  0.9750
16  24  1.0000  1.000  1.0000  1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
17  25  1.0150  1.020  1.0150  1.0150  1.0150  1.0150  1.0200  1.0200  1.0200
18  26  1.0300  1.040  1.0300  1.0300  1.0300  1.0300  1.0400  1.0400  1.0400
19  27  1.0450  1.060  1.0400  1.0400  1.0450  1.0450  1.0600  1.0600  1.0600
20  28  1.0600  1.080  1.0500  1.0500  1.0600  1.0600  1.0800  1.0800  1.0800
21  29  1.0750  1.100  1.0650  1.0650  1.0700  1.0700  1.0950  1.0950  1.0950
22  30  1.0900  1.120  1.0800  1.0800  1.0800  1.0800  1.1100  1.1100  1.1100
23  31  1.1050  1.135  1.0900  1.0900  1.0900  1.0900  1.1250  1.1250  1.1250
24  32  1.1200  1.150  1.1000  1.1000  1.1000  1.1000  1.1400  1.1400  1.1400
25  33  1.1300  1.165  1.1100  1.1100  1.1100  1.1100  1.1525  1.1525  1.1525
26  34  1.1400  1.180  1.1200  1.1200  1.1200  1.1200  1.1650  1.1650  1.1650
27  35  1.1500  1.195  1.1300  1.1300  1.1300  1.1300  1.1775  1.1775  1.1775
28  36  1.1600  1.210  1.1400  1.1400  1.1400  1.1400  1.1900  1.1900  1.1900
29  37  1.1675  1.220  1.1475  1.1475  1.1475  1.1475  1.2000  1.2000  1.2000
30  38  1.1750  1.230  1.1550  1.1550  1.1550  1.1550  1.2100  1.2100  1.2100
31  39  1.1825  1.240  1.1625  1.1625  1.1625  1.1625  1.2200  1.2200  1.2200
32  40  1.1900  1.250  1.1700  1.1700  1.1700  1.1700  1.2300  1.2300  1.2300

    ...      LH      SD     TS      JA      KP      RE      TM      PI  \
0   ...  0.4300  0.4300  0.350  0.3800  0.3800  0.5500  0.5500  0.5500
1   ...  0.5000  0.5000  0.410  0.4400  0.4400  0.6000  0.6000  0.6000
2   ...  0.5500  0.5500  0.470  0.5000  0.5000  0.6400  0.6400  0.6400
3   ...  0.6100  0.6100  0.530  0.5500  0.5500  0.6800  0.6800  0.6800
4   ...  0.6500  0.6500  0.580  0.6000  0.6000  0.7200  0.7200  0.7200
5   ...  0.7000  0.7000  0.630  0.6500  0.6500  0.7600  0.7600  0.7600
6   ...  0.7400  0.7400  0.680  0.7000  0.7000  0.7900  0.7900  0.7900
7   ...  0.7700  0.7700  0.720  0.7400  0.7400  0.8200  0.8200  0.8200
8   ...  0.8100  0.8100  0.760  0.7700  0.7700  0.8400  0.8400  0.8400
9   ...  0.8400  0.8400  0.800  0.8100  0.8100  0.8700  0.8700  0.8700
10  ...  0.8700  0.8700  0.830  0.8400  0.8400  0.8900  0.8900  0.8900
11  ...  0.8900  0.8900  0.860  0.8700  0.8700  0.9100  0.9100  0.9100
12  ...  0.9200  0.9200  0.890  0.9000  0.9000  0.9300  0.9300  0.9300
13  ...  0.9400  0.9400  0.920  0.9250  0.9250  0.9500  0.9500  0.9500
14  ...  0.9600  0.9600  0.950  0.9500  0.9500  0.9700  0.9700  0.9700
15  ...  0.9800  0.9800  0.975  0.9750  0.9750  0.9850  0.9850  0.9850
16  ...  1.0000  1.0000  1.000  1.0000  1.0000  1.0000  1.0000  1.0000
17  ...  1.0150  1.0150  1.020  1.0200  1.0200  1.0150  1.0150  1.0150
18  ...  1.0300  1.0300  1.040  1.0400  1.0400  1.0300  1.0300  1.0300
19  ...  1.0450  1.0450  1.060  1.0600  1.0600  1.0400  1.0400  1.0400
20  ...  1.0600  1.0600  1.080  1.0800  1.0800  1.0500  1.0500  1.0500
21  ...  1.0750  1.0750  1.100  1.0950  1.0950  1.0650  1.0650  1.0650
22  ...  1.0900  1.0900  1.120  1.1100  1.1100  1.0800  1.0800  1.0800
23  ...  1.1050  1.1050  1.135  1.1250  1.1250  1.0900  1.0900  1.0900
24  ...  1.1200  1.1200  1.150  1.1400  1.1400  1.1000  1.1000  1.1000
25  ...  1.1300  1.1300  1.165  1.1525  1.1525  1.1100  1.1100  1.1100
26  ...  1.1400  1.1400  1.180  1.1650  1.1650  1.1200  1.1200  1.1200
27  ...  1.1500  1.1500  1.195  1.1775  1.1775  1.1300  1.1300  1.1300
28  ...  1.1600  1.1600  1.210  1.1900  1.1900  1.1400  1.1400  1.1400
29  ...  1.1675  1.1675  1.220  1.2000  1.2000  1.1475  1.1475  1.1475
30  ...  1.1750  1.1750  1.230  1.2100  1.2100  1.1550  1.1550  1.1550
31  ...  1.1825  1.1825  1.240  1.2200  1.2200  1.1625  1.1625  1.1625
32  ...  1.1900  1.1900  1.250  1.2300  1.2300  1.1700  1.1700  1.1700

        TO      TL
0   0.4300  0.5500
1   0.5000  0.6000
2   0.5500  0.6400
3   0.6100  0.6800
4   0.6500  0.7200
5   0.7000  0.7600
6   0.7400  0.7900
7   0.7700  0.8200
8   0.8100  0.8400
9   0.8400  0.8700
10  0.8700  0.8900
11  0.8900  0.9100
12  0.9200  0.9300
13  0.9400  0.9500
14  0.9600  0.9700
15  0.9800  0.9850
16  1.0000  1.0000
17  1.0150  1.0150
18  1.0300  1.0300
19  1.0450  1.0400
20  1.0600  1.0500
21  1.0750  1.0650
22  1.0900  1.0800
23  1.1050  1.0900
24  1.1200  1.1000
25  1.1300  1.1100
26  1.1400  1.1200
27  1.1500  1.1300
28  1.1600  1.1400
29  1.1675  1.1475
30  1.1750  1.1550
31  1.1825  1.1625
32  1.1900  1.1700

[33 rows x 23 columns]

### Reading in EXCEL file for type proportions

In [75]:
# Reading in EXCEL file for type proportions.
Type_proportions = pd.read_excel('Data_Sources/Type_proportions.xlsx')

print(Type_proportions)

     d klass+pl+h24 x m  kõrgus      palk     peenp     paber      küte  \
0                 8MA16     8.0  0.000000  0.000000  0.000000  0.500000
1                12MA16    11.0  0.000000  0.000000  0.714286  0.000000
2                16MA16    13.0  0.000000  0.333333  0.400000  0.000000
3                20MA16    15.0  0.000000  0.680000  0.080000  0.000000
4                24MA16    16.0  0.289474  0.368421  0.105263  0.000000
...                 ...     ...       ...       ...       ...       ...
3205             36PN27    32.0  0.000000  0.000000  0.000000  0.794521
3206             40PN27    33.0  0.000000  0.000000  0.000000  0.795699
3207             44PN27    34.0  0.000000  0.000000  0.000000  0.800000
3208             48PN27    35.0  0.000000  0.000000  0.000000  0.806452
3209             52PN27    35.0  0.000000  0.000000  0.000000  0.804805

       jäätmed  kokku
0     0.500000    1.0
1     0.285714    1.0
2     0.266667    1.0
3     0.240000    1.0
4     0.236842    1.0
...        ...    ...
3205  0.205479    1.0
3206  0.204301    1.0
3207  0.200000    1.0
3208  0.193548    1.0
3209  0.195195    1.0

[3210 rows x 8 columns]

### Merging tables JSON_cadastral_data and Tree_Name.

In [76]:
# Merging two tables on main species names and adding Name_EE, Name_ENG.
cadastral_data = pd.merge(JSON_cadastral_data, Tree_Name, left_on='Species', right_on='Name_ENG', how='left')

### Adding a 'h24 coefficient' and 'h24' column to the table.

In [77]:
import numpy as np

cadastral_data['h24 coefficient'] = np.nan

for index, row in cadastral_data.iterrows():
    name_ee = row['Name_EE']
    diameter_cm = row['Diameter cm']
    try:
        # Look up the correct value from h24_coefficient table.
        h24_value = h24_coefficient.loc[h24_coefficient['d'] == diameter_cm, name_ee]
        # When the value is found add it to the column 
        if not h24_value.empty:
            cadastral_data.at[index, 'h24 coefficient'] = h24_value.values[0]
    except KeyError:
        # When there isn´t a value add NaN to the row
        pass

# Adding a 'h24' column to the table.
cadastral_data['h24'] = cadastral_data.apply(
    lambda row: 16 if (pd.notna(row['Height m']) and pd.notna(row['h24 coefficient']) and row['h24 coefficient'] != 0 and (np.ceil(row['Height m'] / row['h24 coefficient'])) < 16) else (int(np.ceil(row['Height m'] / row['h24 coefficient'])) if pd.notna(row['Height m']) and pd.notna(row['h24 coefficient']) and row['h24 coefficient'] != 0 else np.nan),
    axis=1)
#
cadastral_data['h24'] = cadastral_data['h24'].astype('Int64')

### Adding a 'Diameter category' column to the table

In [78]:
# Adding a 'Diameter category' column to the table.
def diameter_category(diameter_cm):
    if 5 <= diameter_cm <= 52:
        # Round up to the nearest multiple of 4 (aligned with 8, 12, 16, …, 52)
        return ((diameter_cm + 3) // 4) * 4
    return None
cadastral_data['Diameter category'] = (
    cadastral_data['Diameter cm']
    .apply(diameter_category)# Using .apply() to use the function on 'Diameter cm' values.
    .astype('Int64')# Getting 'Diameter category' column to Int64 type.
)

### Adding a 'Proportion class' column to the table

In [79]:
cadastral_data['Proportion class'] = cadastral_data['Diameter category'].astype(str) + '' + cadastral_data['Name_EE'].astype(str) + '' + cadastral_data['h24'].astype(str)

### Merging Type_proportions with cadastral_data on 'Proportion class' to get the type proportions.

In [80]:
cadastral_data = pd.merge(cadastral_data, 
                     Type_proportions, 
                     left_on='Proportion class', 
                     right_on='d klass+pl+h24 x m', 
                     how='inner')

# Calculating proportions for each row
columns_to_multiply = ['palk', 'peenp', 'paber', 'küte', 'jäätmed']

# A loop that multiplys type proportion columns by 'Stock m3' column values.
for column in columns_to_multiply:
    cadastral_data[column] = cadastral_data[column] * cadastral_data['Stock m3']

# Dropping unnecessary columns from the table.
cadastral_data = cadastral_data.drop(columns=['d klass+pl+h24 x m', 'kõrgus', 'kokku','Name_ENG'])

print(cadastral_data)

   Stand nr          Species  Height m  Diameter cm  Area ha  Volume m3/ha  \
0         0             Pine       9.2           12     0.17             0
1         0           Spruce      13.7           17     0.17           107
2         0            Birch      14.8           15     0.17            13
3         0  Other Deciduous      15.9           18     0.17             0
4         1           Spruce      13.7           17     0.98            89
5         1            Birch      13.2           16     0.98            14
6         1  Other Deciduous      14.6           16     0.98             4
7         2             Pine      19.5           28     0.29            10
8         2           Spruce      18.9           22     0.29           172
9         2            Birch      17.9           19     0.29             9
10        2  Other Deciduous      20.2           25     0.29             9
11        3             Pine      18.9           28     0.62            57
12        3           Spruce      17.5           22     0.62            45
13        3            Birch      17.6           17     0.62            91
14        4             Pine      20.3           29     1.11           141
15        4           Spruce      19.7           25     1.11            41
16        4            Birch      19.1           19     1.11            49
17        5           Spruce       7.3            9     2.73             2
18        5            Birch       8.5           10     2.73            10
19        5  Other Deciduous       9.1           11     2.73             7
20        6           Spruce      13.4           17     0.30            29
21        6  Other Deciduous      13.2           17     0.30            85
22        7             Pine      18.8           27     1.16            26
23        7           Spruce      18.4           21     1.16           129
24        7            Birch      18.0           18     1.16            24
25        8           Spruce       7.0            8     1.84             4
26        8            Birch       7.4            9     1.84             7
27        8  Other Deciduous       7.9           10     1.84            20
28        9            Birch       8.1           10     0.66             5
29        9  Other Deciduous       8.5           10     0.66            37

    Stock m3 Name_EE  h24 coefficient  h24  Diameter category  \
0       0.00      MA            0.650   16                 12
1      18.19      KU            0.800   18                 20
2       2.21      KS            0.820   19                 16
3       0.00      LV            0.890   18                 20
4      87.22      KU            0.800   18                 20
5      13.72      KS            0.840   16                 16
6       3.92      LV            0.840   18                 16
7       2.90      MA            1.060   19                 28
8      49.88      KU            0.950   20                 24
9       2.61      KS            0.910   20                 20
10      2.61      LV            1.015   20                 28
11     35.34      MA            1.060   18                 28
12     27.90      KU            0.950   19                 24
13     56.42      KS            0.870   21                 20
14    156.51      MA            1.075   19                 32
15     45.51      KU            1.020   20                 28
16     54.39      KS            0.910   21                 20
17      5.46      KU            0.410   18                 12
18     27.30      KS            0.640   16                 12
19     19.11      LV            0.680   16                 12
20      8.70      KU            0.800   17                 20
21     25.50      LV            0.870   16                 20
22     30.16      MA            1.045   18                 28
23    149.64      KU            0.920   20                 24
24     27.84      KS            0.890   21                 20
25      7.36      KU            0.350   20                  8
26     12.88      KS            0.600   16                 12
27     36.80      LV            0.640   16                 12
28      3.30      KS            0.640   16                 12
29     24.42      LV            0.640   16                 12

   Proportion class        palk      peenp      paber       küte    jäätmed
0            12MA16    0.000000   0.000000   0.000000   0.000000   0.000000
1            20KU18    0.000000  10.186400   5.093200   0.000000   2.910400
2            16KS19    0.000000   0.000000   1.519375   0.138125   0.552500
3            20LV18    0.000000   0.000000   0.000000   0.000000   0.000000
4            20KU18    0.000000  48.843200  24.421600   0.000000  13.955200
5            16KS16    0.000000   0.000000  10.780000   0.000000   2.940000
6            16LV18    0.000000   0.000000   0.000000   2.874667   1.045333
7            28MA19    1.683871   0.561290   0.000000   0.093548   0.561290
8            24KU20   22.672727  13.603636   3.400909   0.000000  10.202727
9            20KS20    0.000000   0.000000   1.933333   0.000000   0.676667
10           28LV20    1.530000   0.000000   0.000000   0.450000   0.630000
11           28MA18   22.087500   3.786429   2.524286   0.000000   6.941786
12           24KU19   12.681818   7.609091   1.902273   0.000000   5.706818
13           20KS21    0.000000   0.000000  40.300000   4.030000  12.090000
14           32MA19  107.482771  13.199639   7.542651   0.000000  28.284940
15           28KU20   27.450476   5.056667   3.611905   1.444762   7.946190
16           20KS21    0.000000   0.000000  38.850000   3.885000  11.655000
17           12KU18    0.000000   0.000000   3.900000   0.000000   1.560000
18           12KS16    0.000000   0.000000  19.500000   0.000000   7.800000
19           12LV16    0.000000   0.000000   0.000000  16.380000   2.730000
20           20KU17    0.000000   4.712500   1.450000   0.725000   1.812500
21           20LV16    0.000000   0.000000   0.000000  20.187500   5.312500
22           28MA18   18.850000   3.231429   2.154286   0.000000   5.924286
23           24KU20   68.018182  40.810909  10.202727   0.000000  30.608182
24           20KS21    0.000000   0.000000  19.885714   1.988571   5.965714
25            8KU20    0.000000   0.000000   0.000000   3.680000   3.680000
26           12KS16    0.000000   0.000000   9.200000   0.000000   3.680000
27           12LV16    0.000000   0.000000   0.000000  31.542857   5.257143
28           12KS16    0.000000   0.000000   2.357143   0.000000   0.942857
29           12LV16    0.000000   0.000000   0.000000  20.931429   3.488571

### Creating a new dataframe to sum up 'Maht' and 'Hind'

In [81]:
# Define the mapping between Sortiment, source (Name_EE + column), and price names
mappings = [
    ("Ma palk",        ("MA", "palk"),   "Ma palk"),
    ("Ku palk",        ("KU", "palk"),   "Ku palk"),
    ("Ks palk/pakk",   ("KS", "palk"),   "Ks palk/pakk"),
    ("Teised liigid/Lv palk", ("LV", "palk"), "Lv palk"),
    ("Ma peenpalk",    ("MA", "peenp"),  "Ma peenpalk"),
    ("Ku peenpalk",    ("KU", "peenp"),  "Ku peenpalk"),
    ("Ma paberipuit",  ("MA", "paber"),  "Ma paberipuit"),
    ("Ku paberipuit",  ("KU", "paber"),  "Ku paberipuit"),
    ("Ks paberipuit",  ("KS", "paber"),  "Ks paberipuit"),
    ("Teised liigid paberipuit", ("LV", "paber"), "Hb paberipuit"),
    ("Küttepuit",      (None, "küte"),   "Küttepuit"),
    ("Jäätmed",        (None, "jäätmed"),"Jäätmed"),
]
rows = []
for sortiment, (name_ee, col), price_name in mappings:
    if name_ee:  # sum by Name_EE + column
        volume = cadastral_data.loc[cadastral_data["Name_EE"] == name_ee, col].sum()
    else:        # global sum
        volume = cadastral_data[col].sum()
    # find matching price
    price = wood_prices.loc[wood_prices["Sortiment"] == price_name, "Hind (€)"].squeeze()
    rows.append({
        "Sortiment": sortiment,
        "Maht (tm)": volume,
        "€": volume * price
    })
# Create DataFrame
MahtHindKokku = pd.DataFrame(rows)
# Add total row
MahtHindKokku.loc[len(MahtHindKokku)] = {
    "Sortiment": "Kokku",
    "Maht (tm)": MahtHindKokku["Maht (tm)"].sum(),
    "€": MahtHindKokku["€"].sum()
}
# Round results
MahtHindKokku["Maht (tm)"] = MahtHindKokku["Maht (tm)"].round(1)
MahtHindKokku["€"] = MahtHindKokku["€"].round(1)

print(MahtHindKokku)

                   Sortiment  Maht (tm)        €
0                    Ma palk      150.1  14259.9
1                    Ku palk      130.8  12428.2
2               Ks palk/pakk        0.0      0.0
3      Teised liigid/Lv palk        1.5     76.5
4                Ma peenpalk       20.8   1329.8
5                Ku peenpalk      130.8   8372.6
6              Ma paberipuit       12.2    757.7
7              Ku paberipuit       54.0   3346.9
8              Ks paberipuit      144.3   7216.3
9   Teised liigid paberipuit        0.0      0.0
10                 Küttepuit      108.4   4225.7
11                   Jäätmed      184.9    554.6
12                     Kokku      937.8  52568.3

### Creating a new dataframe to get recommended starting bid

In [ ]:
# Extract key values
maht_kokku = MahtHindKokku.at[MahtHindKokku.index[MahtHindKokku['Sortiment'] == 'Kokku'][0], 'Maht (tm)']
hind_kokku = MahtHindKokku.at[MahtHindKokku.index[MahtHindKokku['Sortiment'] == 'Kokku'][0], '€']
maht_jaatmeteta = MahtHindKokku.loc[
    ~MahtHindKokku['Sortiment'].isin(['Jäätmed', 'Kokku']),
    'Maht (tm)'
].sum()
# Calculations
kulud_tm = Kulud["Kompleksteenus(€/tm)"] + Kulud["Transport (€/tm)"]
kulud_jaatmeteta = maht_jaatmeteta * kulud_tm
tulud_kulud_jaatmeteta = hind_kokku - kulud_jaatmeteta
soovituslik_alghind = tulud_kulud_jaatmeteta * (1 - Kulud["Alghinna(%)"] / 100)
# Build result table
results = {
    "Maht kokku":              (maht_kokku, "tm"),
    "Hind kokku":              (hind_kokku, "€"),
    "Kulud (jäätmeteta)":      (kulud_jaatmeteta, "€"),
    "Tulud-kulud (jäätmeteta)":(tulud_kulud_jaatmeteta, "€"),
    "Soovituslik alghind":     (soovituslik_alghind, "€"),
}
cadastral_data_summary = (
    pd.DataFrame.from_dict(results, orient="index", columns=["Väärtus", "Ühik"])
    .assign(Väärtus=lambda df: df["Väärtus"].round(1))
)

print(cadastral_data_summary)

                          Väärtus Ühik
Maht kokku                  937.8   tm
Hind kokku                52568.3    €
Kulud (jäätmeteta)        15810.9    €
Tulud-kulud (jäätmeteta)  36757.4    €
Soovituslik alghind       33081.7    €