### Defining costs

In [5]:
kulud = {
  "Kompleksteenus(€/tm)": 15,
  "Transport (€/tm)": 6,
  "Alghinna(%)": 10
}

### Reading in EXCEL file for wood prices.

In [6]:
import pandas as pd

# Reading in EXCEL file for wood prices.
wood_prices = pd.read_excel('Data_Sources/Hinnakiri.xlsx')

print("Hinnakiri:")
print(wood_prices)

Hinnakiri:
                    Sortiment  Hind (€/tm)
0                     Ma palk           95
1                     Ku palk           95
2                Ks palk/pakk          110
3                     Hb palk           58
4                     Lm palk           60
5                     Lv palk           50
6                     Sa palk           40
7                     Ta palk           40
8                     Lh palk           40
9                     Sd palk           40
10  Lehtpuu palk (Va, Ja, Kp)           35
11                Ma peenpalk           64
12                Ku peenpalk           64
13              Ma paberipuit           62
14              Ku paberipuit           62
15              Ks paberipuit           50
16              Hb paberipuit           50
17                  Küttepuit           39
18                    Jäätmed            3

In [7]:
import requests
import json
from urllib.parse import quote

# Authorization API endpoint
auth_url = "https://lindaforest.collectivecrunch.net/api/v1/auth"

# Authorization headers with API keys
headers = {
    'linda-universal-api-key-id': '',
    'linda-universal-api-key-secret': ''
}

try:
    # Send POST request with authorization headers
    auth_response = requests.post(auth_url, headers=headers, timeout=30)
    auth_response.raise_for_status()  # Gives out error if authorization fails
    auth_token = auth_response.json()['accessToken']
    print("Authorization successful.")

    # ---- SIMPLE VARIABLES (change here) ----
    country = "ee"                   # 'ee' or 'lv'
    property_id = "33801:001:1133"   # katastritunnus (':' kodeeritakse automaatselt)

    include_stands = True            # include stands
    include_predictions = True      # include predictions
    include_geometries = False       # include geometries (EPSG:4326)
    # ---------------------------------------

    # Build endpoint and query parameters
    base = "https://lindaforest.collectivecrunch.net/api/v1"
    property_encoded = quote(property_id, safe="")
    endpoint = f"{base}/scout/{country}/property/{property_encoded}"

    # API is waiting for 'true'/'false' string
    params = {
        "include_stands": str(include_stands).lower(),
        "include_predictions": str(include_predictions).lower(),
        "include_geometries": str(include_geometries).lower(),
    }

    # To get the data use Bearer token
    data_headers = {
        'Authorization': f'Bearer {auth_token}',
        'Accept': 'application/json'
    }

    # Get the data
    data_response = requests.get(endpoint, headers=data_headers, params=params, timeout=60)
    print("Request URL:", data_response.url)  # See the exact URL with parameters
    data_response.raise_for_status()  # Gives out error if data request fails
    data = data_response.json()
    print("Data successfully retrieved:", json.dumps(data, indent=2, ensure_ascii=False))

except requests.exceptions.HTTPError as err:
    print(f"HTTP Error: {err}")
    if err.response is not None:
        print(f"Response content: {err.response.text}")
except requests.exceptions.RequestException as err:
    print(f"Unexpected error: {err}")

HTTP Error: 401 Client Error: Unauthorized for url: https://lindaforest.collectivecrunch.net/api/v1/auth
Response content: {"errorCode":"unathorized","status":401,"name":"UnauthorizedError","message":"error.apiKey.invalid"}

### Reading in the API file for a specific cadastral.

In [8]:
import json

# Reading in JSON file for a specific cadastral.
e = data['stands']

# Create an empty list to store the new, transformed data records.
transformed_data_list = []
# Loop through each individual record (which is a dictionary) in the list.
for record in e:
    # Extract the stand number for the current record.
    stand_number = record["stand_number"]
    # Now you can safely access the values using keys from this single record.
    # Create a list of dictionaries for each species in the current record.
    species_data = [
        {
            "Eraldise nr": stand_number,
            "Puuliik": "Pine",
            "Kõrgus m": record["pine_bam_height_m"],
            "Diameeter cm": record["pine_bam_dbh_cm"],
            "Pindala ha": record["total_area_ha"],
            "Tihedus m3/ha": record["pine_total_volume_m3_ha"],
            "Tagavara m3": record["total_area_ha"] * (record["pine_total_volume_m3_ha"] or 0)
        },
        {
            "Eraldise nr": stand_number,
            "Puuliik": "Spruce",
            "Kõrgus m": record["spruce_bam_height_m"],
            "Diameeter cm": record["spruce_bam_dbh_cm"],
            "Pindala ha": record["total_area_ha"],
            "Tihedus m3/ha": record["spruce_total_volume_m3_ha"],
            "Tagavara m3": record["total_area_ha"] * (record["spruce_total_volume_m3_ha"] or 0)
        },
        {
            "Eraldise nr": stand_number,
            "Puuliik": "Birch",
            "Kõrgus m": record["birch_bam_height_m"],
            "Diameeter cm": record["birch_bam_dbh_cm"],
            "Pindala ha": record["total_area_ha"],
            "Tihedus m3/ha": record["birch_total_volume_m3_ha"],
            "Tagavara m3": record["total_area_ha"] * (record["birch_total_volume_m3_ha"] or 0)
        
        },
        {
            "Eraldise nr": stand_number,
            "Puuliik": "Other Deciduous",
            "Kõrgus m": record["other_deciduous_bam_height_m"],
            "Diameeter cm": record["other_deciduous_bam_dbh_cm"],
            "Pindala ha": record["total_area_ha"],
            "Tihedus m3/ha": record["other_deciduous_total_volume_m3_ha"],
            "Tagavara m3": record["total_area_ha"] * (record["other_deciduous_total_volume_m3_ha"] or 0),
            
        }
    ]
    # Add the newly created species data to our main list.
    transformed_data_list.extend(species_data)
# Finally, create a single DataFrame from the combined list of all records.
API_cadastral_data = pd.DataFrame(transformed_data_list)
print(API_cadastral_data)

NameError: name 'data' is not defined

### Reading in EXCEL file for tree names.

In [ ]:
# Reading in EXCEL file for tree names.
tree_name = pd.read_excel('Data_Sources/Puu_nimetused_EE_ENG.xlsx')

print("Puude nimetused EE/ENG:")
print(tree_name.head())

Puude nimetused EE/ENG:
  Name_EE         Name_ENG
0      MA             Pine
1      KU           Spruce
2      KS            Birch
3      LV  Other Deciduous
4      HB              NaN

### Reading in EXCEL file for relative heights.

In [ ]:
# Reading in EXCEL file for relative height.
relative_heights = pd.read_excel('Data_Sources/Suhtelised_tugikõrgused.xlsx')

print("Suhtelised tugikõrgused:")
print(relative_heights)

Suhtelised tugikõrgused:
     d      MA     KU      KS      LV      HB      LM      TA      SA      VA  \
0    8  0.4300  0.350  0.5500  0.5500  0.5200  0.5200  0.3800  0.3800  0.3800
1    9  0.5000  0.410  0.6000  0.6000  0.5700  0.5700  0.4400  0.4400  0.4400
2   10  0.5500  0.470  0.6400  0.6400  0.6200  0.6200  0.5000  0.5000  0.5000
3   11  0.6100  0.530  0.6800  0.6800  0.6600  0.6600  0.5500  0.5500  0.5500
4   12  0.6500  0.580  0.7200  0.7200  0.7000  0.7000  0.6000  0.6000  0.6000
5   13  0.7000  0.630  0.7600  0.7600  0.7400  0.7400  0.6500  0.6500  0.6500
6   14  0.7400  0.680  0.7900  0.7900  0.7700  0.7700  0.7000  0.7000  0.7000
7   15  0.7700  0.720  0.8200  0.8200  0.8000  0.8000  0.7400  0.7400  0.7400
8   16  0.8100  0.760  0.8400  0.8400  0.8300  0.8300  0.7700  0.7700  0.7700
9   17  0.8400  0.800  0.8700  0.8700  0.8600  0.8600  0.8100  0.8100  0.8100
10  18  0.8700  0.830  0.8900  0.8900  0.8800  0.8800  0.8400  0.8400  0.8400
11  19  0.8900  0.860  0.9100  0.9100  0.9100  0.9100  0.8700  0.8700  0.8700
12  20  0.9200  0.890  0.9300  0.9300  0.9300  0.9300  0.9000  0.9000  0.9000
13  21  0.9400  0.920  0.9500  0.9500  0.9500  0.9500  0.9250  0.9250  0.9250
14  22  0.9600  0.950  0.9700  0.9700  0.9700  0.9700  0.9500  0.9500  0.9500
15  23  0.9800  0.975  0.9850  0.9850  0.9850  0.9850  0.9750  0.9750  0.9750
16  24  1.0000  1.000  1.0000  1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
17  25  1.0150  1.020  1.0150  1.0150  1.0150  1.0150  1.0200  1.0200  1.0200
18  26  1.0300  1.040  1.0300  1.0300  1.0300  1.0300  1.0400  1.0400  1.0400
19  27  1.0450  1.060  1.0400  1.0400  1.0450  1.0450  1.0600  1.0600  1.0600
20  28  1.0600  1.080  1.0500  1.0500  1.0600  1.0600  1.0800  1.0800  1.0800
21  29  1.0750  1.100  1.0650  1.0650  1.0700  1.0700  1.0950  1.0950  1.0950
22  30  1.0900  1.120  1.0800  1.0800  1.0800  1.0800  1.1100  1.1100  1.1100
23  31  1.1050  1.135  1.0900  1.0900  1.0900  1.0900  1.1250  1.1250  1.1250
24  32  1.1200  1.150  1.1000  1.1000  1.1000  1.1000  1.1400  1.1400  1.1400
25  33  1.1300  1.165  1.1100  1.1100  1.1100  1.1100  1.1525  1.1525  1.1525
26  34  1.1400  1.180  1.1200  1.1200  1.1200  1.1200  1.1650  1.1650  1.1650
27  35  1.1500  1.195  1.1300  1.1300  1.1300  1.1300  1.1775  1.1775  1.1775
28  36  1.1600  1.210  1.1400  1.1400  1.1400  1.1400  1.1900  1.1900  1.1900
29  37  1.1675  1.220  1.1475  1.1475  1.1475  1.1475  1.2000  1.2000  1.2000
30  38  1.1750  1.230  1.1550  1.1550  1.1550  1.1550  1.2100  1.2100  1.2100
31  39  1.1825  1.240  1.1625  1.1625  1.1625  1.1625  1.2200  1.2200  1.2200
32  40  1.1900  1.250  1.1700  1.1700  1.1700  1.1700  1.2300  1.2300  1.2300

    ...      LH      SD     TS      JA      KP      RE      TM      PI  \
0   ...  0.4300  0.4300  0.350  0.3800  0.3800  0.5500  0.5500  0.5500
1   ...  0.5000  0.5000  0.410  0.4400  0.4400  0.6000  0.6000  0.6000
2   ...  0.5500  0.5500  0.470  0.5000  0.5000  0.6400  0.6400  0.6400
3   ...  0.6100  0.6100  0.530  0.5500  0.5500  0.6800  0.6800  0.6800
4   ...  0.6500  0.6500  0.580  0.6000  0.6000  0.7200  0.7200  0.7200
5   ...  0.7000  0.7000  0.630  0.6500  0.6500  0.7600  0.7600  0.7600
6   ...  0.7400  0.7400  0.680  0.7000  0.7000  0.7900  0.7900  0.7900
7   ...  0.7700  0.7700  0.720  0.7400  0.7400  0.8200  0.8200  0.8200
8   ...  0.8100  0.8100  0.760  0.7700  0.7700  0.8400  0.8400  0.8400
9   ...  0.8400  0.8400  0.800  0.8100  0.8100  0.8700  0.8700  0.8700
10  ...  0.8700  0.8700  0.830  0.8400  0.8400  0.8900  0.8900  0.8900
11  ...  0.8900  0.8900  0.860  0.8700  0.8700  0.9100  0.9100  0.9100
12  ...  0.9200  0.9200  0.890  0.9000  0.9000  0.9300  0.9300  0.9300
13  ...  0.9400  0.9400  0.920  0.9250  0.9250  0.9500  0.9500  0.9500
14  ...  0.9600  0.9600  0.950  0.9500  0.9500  0.9700  0.9700  0.9700
15  ...  0.9800  0.9800  0.975  0.9750  0.9750  0.9850  0.9850  0.9850
16  ...  1.0000  1.0000  1.000  1.0000  1.0000  1.0000  1.0000  1.0000
17  ...  1.0150  1.0150  1.020  1.0200  1.0200  1.0150  1.0150  1.0150
18  ...  1.0300  1.0300  1.040  1.0400  1.0400  1.0300  1.0300  1.0300
19  ...  1.0450  1.0450  1.060  1.0600  1.0600  1.0400  1.0400  1.0400
20  ...  1.0600  1.0600  1.080  1.0800  1.0800  1.0500  1.0500  1.0500
21  ...  1.0750  1.0750  1.100  1.0950  1.0950  1.0650  1.0650  1.0650
22  ...  1.0900  1.0900  1.120  1.1100  1.1100  1.0800  1.0800  1.0800
23  ...  1.1050  1.1050  1.135  1.1250  1.1250  1.0900  1.0900  1.0900
24  ...  1.1200  1.1200  1.150  1.1400  1.1400  1.1000  1.1000  1.1000
25  ...  1.1300  1.1300  1.165  1.1525  1.1525  1.1100  1.1100  1.1100
26  ...  1.1400  1.1400  1.180  1.1650  1.1650  1.1200  1.1200  1.1200
27  ...  1.1500  1.1500  1.195  1.1775  1.1775  1.1300  1.1300  1.1300
28  ...  1.1600  1.1600  1.210  1.1900  1.1900  1.1400  1.1400  1.1400
29  ...  1.1675  1.1675  1.220  1.2000  1.2000  1.1475  1.1475  1.1475
30  ...  1.1750  1.1750  1.230  1.2100  1.2100  1.1550  1.1550  1.1550
31  ...  1.1825  1.1825  1.240  1.2200  1.2200  1.1625  1.1625  1.1625
32  ...  1.1900  1.1900  1.250  1.2300  1.2300  1.1700  1.1700  1.1700

        TO      TL
0   0.4300  0.5500
1   0.5000  0.6000
2   0.5500  0.6400
3   0.6100  0.6800
4   0.6500  0.7200
5   0.7000  0.7600
6   0.7400  0.7900
7   0.7700  0.8200
8   0.8100  0.8400
9   0.8400  0.8700
10  0.8700  0.8900
11  0.8900  0.9100
12  0.9200  0.9300
13  0.9400  0.9500
14  0.9600  0.9700
15  0.9800  0.9850
16  1.0000  1.0000
17  1.0150  1.0150
18  1.0300  1.0300
19  1.0450  1.0400
20  1.0600  1.0500
21  1.0750  1.0650
22  1.0900  1.0800
23  1.1050  1.0900
24  1.1200  1.1000
25  1.1300  1.1100
26  1.1400  1.1200
27  1.1500  1.1300
28  1.1600  1.1400
29  1.1675  1.1475
30  1.1750  1.1550
31  1.1825  1.1625
32  1.1900  1.1700

[33 rows x 23 columns]

### Reading in EXCEL file for log volume distribution

In [ ]:
# Reading in EXCEL file for type proportions.
log_volume_distribution = pd.read_excel('Data_Sources/Mahutabel.xlsx')

print("Mahutabel:")
print(log_volume_distribution)

Mahutabel:
     d klass+pl+h24 x m  kõrgus      palk     peenp     paber      küte  \
0                 8MA16     8.0  0.000000  0.000000  0.000000  0.500000
1                12MA16    11.0  0.000000  0.000000  0.714286  0.000000
2                16MA16    13.0  0.000000  0.333333  0.400000  0.000000
3                20MA16    15.0  0.000000  0.680000  0.080000  0.000000
4                24MA16    16.0  0.289474  0.368421  0.105263  0.000000
...                 ...     ...       ...       ...       ...       ...
3205             36PN27    32.0  0.000000  0.000000  0.000000  0.794521
3206             40PN27    33.0  0.000000  0.000000  0.000000  0.795699
3207             44PN27    34.0  0.000000  0.000000  0.000000  0.800000
3208             48PN27    35.0  0.000000  0.000000  0.000000  0.806452
3209             52PN27    35.0  0.000000  0.000000  0.000000  0.804805

       jäätmed  kokku
0     0.500000    1.0
1     0.285714    1.0
2     0.266667    1.0
3     0.240000    1.0
4     0.236842    1.0
...        ...    ...
3205  0.205479    1.0
3206  0.204301    1.0
3207  0.200000    1.0
3208  0.193548    1.0
3209  0.195195    1.0

[3210 rows x 8 columns]

### Merging dataframes API_cadastral_data and tree_name.

In [ ]:
# Merging two dataframes on main species names and adding Name_EE, Name_ENG.
cadastral_data = pd.merge(API_cadastral_data, tree_name, left_on='Puuliik', right_on='Name_ENG', how='left')

### Adding a 'Relative height' and 'h24' column to the table.

In [ ]:
import numpy as np

cadastral_data['Suhteline tugikõrgus'] = np.nan

for index, row in cadastral_data.iterrows():
    name_ee = row['Name_EE']
    diameter_cm = row['Diameeter cm']
    try:
        # Look up the correct value from relative_heights table.
        h24_value = relative_heights.loc[relative_heights['d'] == diameter_cm, name_ee]
        # When the value is found add it to the column 
        if not h24_value.empty:
            cadastral_data.at[index, 'Suhteline tugikõrgus'] = h24_value.values[0]
    except KeyError:
        # When there isn´t a value add NaN to the row
        pass

# Adding a 'h24' column to the table.
cadastral_data['h24'] = cadastral_data.apply(
    lambda row: 16 if (pd.notna(row['Kõrgus m']) and pd.notna(row['Suhteline tugikõrgus']) and row['Suhteline tugikõrgus'] != 0 and (np.ceil(row['Kõrgus m'] / row['Suhteline tugikõrgus'])) < 16) else (int(np.ceil(row['Kõrgus m'] / row['Suhteline tugikõrgus'])) if pd.notna(row['Kõrgus m']) and pd.notna(row['Suhteline tugikõrgus']) and row['Suhteline tugikõrgus'] != 0 else np.nan),
    axis=1)
#
cadastral_data['h24'] = cadastral_data['h24'].astype('Int64')

### Adding a 'Diameetri klass' column to the table

In [ ]:
# Adding a 'Diameetri klass' column to the table.
def diameter_category(diameter_cm):
    if 5 <= diameter_cm <= 52:
        # Round up to the nearest multiple of 4 (aligned with 8, 12, 16, …, 52)
        return ((diameter_cm + 3) // 4) * 4
    elif diameter_cm > 52:
        return 52
    return None
cadastral_data['Diameetri klass'] = (
    cadastral_data['Diameeter cm']
    .apply(diameter_category)# Using .apply() to use the function on 'Diameeter cm' values.
    .astype('Int64')# Getting 'Diameetri klass' column to Int64 type.
)

### Adding a 'Sortimendi jaotusklass' column to the table

In [ ]:
cadastral_data['Sortimendi jaotusklass'] = cadastral_data['Diameetri klass'].astype(str) + '' + cadastral_data['Name_EE'].astype(str) + '' + cadastral_data['h24'].astype(str)

### Merging log_volume_distribution with cadastral_data on 'Sortimendi jaotusklass' to get the Mahu jaotus.

In [ ]:
cadastral_data = pd.merge(cadastral_data, 
                     log_volume_distribution, 
                     left_on='Sortimendi jaotusklass', 
                     right_on='d klass+pl+h24 x m', 
                     how='inner')

# Calculating proportions for each row
columns_to_multiply = ['palk', 'peenp', 'paber', 'küte', 'jäätmed']

# A loop that multiplys type proportion columns by 'Tagavara m3' column values.
for column in columns_to_multiply:
    cadastral_data[column] = cadastral_data[column] * cadastral_data['Tagavara m3']

# Dropping unnecessary columns from the table.
cadastral_data = cadastral_data.drop(columns=['d klass+pl+h24 x m', 'kõrgus', 'kokku','Name_ENG'])

print("Lõplik katastriandmete tabel:")
print(cadastral_data)

Lõplik katastriandmete tabel:
   Eraldise nr          Puuliik  Kõrgus m  Diameeter cm  Pindala ha  \
0            0             Pine      14.8            23        1.04
1            0           Spruce      18.0            23        1.04
2            0            Birch      15.1            17        1.04
3            0  Other Deciduous       8.6            11        1.04
4            1             Pine      22.8            30        1.42
5            1           Spruce      23.0            28        1.42
6            1            Birch      22.0            22        1.42
7            2             Pine      23.2            33        1.94
8            2           Spruce      23.0            29        1.94
9            2            Birch      22.7            22        1.94
10           2  Other Deciduous      23.3            28        1.94
11           3             Pine      24.4            32        1.65
12           3           Spruce      24.9            30        1.65
13           3            Birch      23.6            26        1.65
14           3  Other Deciduous      24.8            32        1.65
15           5             Pine      23.7            29        0.45
16           5           Spruce      23.6            25        0.45
17           5  Other Deciduous      25.9            33        0.45

    Tihedus m3/ha  Tagavara m3 Name_EE  Suhteline tugikõrgus  h24  \
0             8.0         8.32      MA                 0.980   16
1            15.0        15.60      KU                 0.975   19
2            30.0        31.20      KS                 0.870   18
3            12.0        12.48      LV                 0.680   16
4            90.0       127.80      MA                 1.090   21
5           159.0       225.78      KU                 1.080   22
6            57.0        80.94      KS                 0.970   23
7             9.0        17.46      MA                 1.130   21
8            61.0       118.34      KU                 1.100   21
9           207.0       401.58      KS                 0.970   24
10            8.0        15.52      LV                 1.050   23
11            9.0        14.85      MA                 1.120   22
12          283.0       466.95      KU                 1.120   23
13            6.0         9.90      KS                 1.030   23
14           14.0        23.10      LV                 1.100   23
15            6.0         2.70      MA                 1.075   23
16          299.0       134.55      KU                 1.020   24
17            6.0         2.70      LV                 1.110   24

    Diameetri klass Sortimendi jaotusklass        palk      peenp       paber  \
0                24                 24MA16    2.408421   3.065263    0.875789
1                24                 24KU19    7.090909   4.254545    1.063636
2                20                 20KS18    0.000000   0.000000   23.712000
3                12                 12LV16    0.000000   0.000000    0.000000
4                32                 32MA21   85.200000  10.282759    7.344828
5                28                 28KU22  147.384167  18.815000   12.543333
6                24                 24KS23   32.720426   0.000000   27.554043
7                36                 36MA21   13.095000   0.935357    0.000000
8                32                 32KU21   80.208222   9.204222    6.574444
9                24                 24KS24  155.714694   0.000000  147.519184
10               28                 28LV23    8.230303   0.000000    0.000000
11               32                 32MA22   10.742553   0.947872    0.473936
12               32                 32KU23  300.182143  66.707143   14.294388
13               28                 28KS23    5.171642   0.000000    2.364179
14               32                 32LV23   14.962500   0.000000    0.000000
15               32                 32MA23    1.953191   0.172340    0.086170
16               28                 28KU24   87.275676  20.000676    3.636486
17               36                 36LV24    1.899153   0.000000    0.000000

         küte    jäätmed
0    0.000000   1.970526
1    0.000000   3.190909
2    0.000000   7.488000
3   10.697143   1.782857
4    0.000000  24.972414
5    6.271667  40.765833
6    3.444255  17.221277
7    0.467679   2.961964
8    2.629778  19.723333
9    0.000000  98.346122
10   3.527273   3.762424
11   0.000000   2.685638
12   0.000000  85.766327
13   0.000000   2.364179
14   3.675000   4.462500
15   0.000000   0.488298
16   0.000000  23.637162
17   0.251695   0.549153

### Creating a new dataframe to sum up 'Maht' and 'Hind'

In [ ]:
# Define the mapping between Sortiment, source (Name_EE + column), and price names
mappings = [
    ("Ma palk",        ("MA", "palk"),   "Ma palk"),
    ("Ku palk",        ("KU", "palk"),   "Ku palk"),
    ("Ks palk/pakk",   ("KS", "palk"),   "Ks palk/pakk"),
    ("Teised liigid/Lv palk", ("LV", "palk"), "Lv palk"),
    ("Ma peenpalk",    ("MA", "peenp"),  "Ma peenpalk"),
    ("Ku peenpalk",    ("KU", "peenp"),  "Ku peenpalk"),
    ("Ma paberipuit",  ("MA", "paber"),  "Ma paberipuit"),
    ("Ku paberipuit",  ("KU", "paber"),  "Ku paberipuit"),
    ("Ks paberipuit",  ("KS", "paber"),  "Ks paberipuit"),
    ("Küttepuit",      (None, "küte"),   "Küttepuit"),
    ("Jäätmed",        (None, "jäätmed"),"Jäätmed"),
]
rows = []
for sortiment, (name_ee, col), price_name in mappings:
    if name_ee:  # sum by Name_EE + column
        volume = cadastral_data.loc[cadastral_data["Name_EE"] == name_ee, col].sum()
    else:        # global sum
        volume = cadastral_data[col].sum()
    # find matching price
    price = wood_prices.loc[wood_prices["Sortiment"] == price_name, "Hind (€/tm)"].squeeze()
    rows.append({
        "Sortiment": sortiment,
        "Maht (tm)": volume,
        "Summa (€)": volume * price
    })
# Create DataFrame
total_volume_and_amount = pd.DataFrame(rows)
# Add total row
total_volume_and_amount.loc[len(total_volume_and_amount)] = {
    "Sortiment": "Kokku",
    "Maht (tm)": total_volume_and_amount["Maht (tm)"].sum(),
    "Summa (€)": total_volume_and_amount["Summa (€)"].sum()
}
# Round results
total_volume_and_amount["Maht (tm)"] = total_volume_and_amount["Maht (tm)"].round(1)
total_volume_and_amount["Summa (€)"] = total_volume_and_amount["Summa (€)"].round(1)

print("Lõplik mahu ja hinna tabel:")
print(total_volume_and_amount)

Lõplik mahu ja hinna tabel:
                Sortiment  Maht (tm)  Hind (€)
0                 Ma palk      113.4   10772.9
1                 Ku palk      622.1   59103.4
2            Ks palk/pakk      193.6   21296.7
3   Teised liigid/Lv palk       25.1    1254.6
4             Ma peenpalk       15.4     985.8
5             Ku peenpalk      119.0    7614.8
6           Ma paberipuit        8.8     544.4
7           Ku paberipuit       38.1    2363.0
8           Ks paberipuit      201.1   10057.5
9               Küttepuit       31.0    1207.6
10                Jäätmed      342.1    1026.4
11                  Kokku     1709.8  116227.2

### Creating a new dataframe to get recommended starting bid

In [ ]:
# Extract key values
maht_kokku = total_volume_and_amount.at[total_volume_and_amount.index[total_volume_and_amount['Sortiment'] == 'Kokku'][0], 'Maht (tm)']
hind_kokku = total_volume_and_amount.at[total_volume_and_amount.index[total_volume_and_amount['Sortiment'] == 'Kokku'][0], 'Summa (€)']
maht_jaatmeteta = total_volume_and_amount.loc[
    ~total_volume_and_amount['Sortiment'].isin(['Jäätmed', 'Kokku']),
    'Maht (tm)'
].sum()
# Calculations
kulud_tm = kulud["Kompleksteenus(€/tm)"] + kulud["Transport (€/tm)"]
kulud_jaatmeteta = maht_jaatmeteta * kulud_tm
tulud_kulud_jaatmeteta = hind_kokku - kulud_jaatmeteta
soovituslik_alghind = tulud_kulud_jaatmeteta * (1 - kulud["Alghinna(%)"] / 100)
# Build result table
results = {
    "Maht kokku":              (maht_kokku, "tm"),
    "Tulud kokku":              (hind_kokku, "€"),
    "Kulud (jäätmeteta)":      (kulud_jaatmeteta, "€"),
    "Tulud-Kulud (jäätmeteta)":(tulud_kulud_jaatmeteta, "€"),
    "Soovituslik alghind":     (soovituslik_alghind, "€"),
}
cadastral_data_summary = (
    pd.DataFrame.from_dict(results, orient="index", columns=["Väärtus", "Ühik"])
    .assign(Väärtus=lambda df: df["Väärtus"].round(1))
)

print("Katastriüksuse hinnanguline väärtus:")
print(cadastral_data_summary)

Katastriüksuse hinnanguline väärtus:
                           Väärtus Ühik
Maht kokku                  1709.8   tm
Tulud kokku               116227.2    €
Kulud (jäätmeteta)         28719.6    €
Tulud-Kulud (jäätmeteta)   87507.6    €
Soovituslik alghind        78756.8    €

### Cadastral summary in Excel.

In [ ]:
#with pd.ExcelWriter('Cadastral_summary.xlsx') as writer:
    #cadastral_data.to_excel(writer, sheet_name='Katastriandmed', index=False)
    #total_volume_and_amount.to_excel(writer, sheet_name='Maht ja hind', index=False)
    #cadastral_data_summary.to_excel(writer, sheet_name='Kokkuvõte')