### Reading in the JSON file for a specific cadastral.

In [ ]:
import json
import pandas as pd
f = open('response_1758028130935.json')
d = json.load(f)
e = d['stands']
# Create an empty list to store the new, transformed data records.
transformed_data_list = []
# Loop through each individual record (which is a dictionary) in the list.
for record in e:
    # Extract the stand number for the current record.
    stand_number = record["stand_number"]
    # Now you can safely access the values using keys from this single record.
    # Create a list of dictionaries for each species in the current record.
    species_data = [
        {
            "Stand nr": stand_number,
            "Species": "Pine",
            "Height m": record["pine_bam_height_m"],
            "Diameter cm": record["pine_bam_height_m"],
            "Volume m3/ha": record["pine_total_volume_m3_ha"]
        },
        {
            "Stand nr": stand_number,
            "Species": "Spruce",
            "Height m": record["spruce_bam_height_m"],
            "Diameter cm": record[""],
            "Volume m3/ha": record["spruce_total_volume_m3_ha"]
        },
        {
            "Stand nr": stand_number,
            "Species": "Birch",
            "Height m": record["birch_bam_height_m"],
            "Volume m3/ha": record["birch_total_volume_m3_ha"]
        
        },
        {
            "Stand nr": stand_number,
            "Species": "Other Deciduous",
            "Height m": record["other_deciduous_bam_height_m"],
            "Volume m3/ha": record["other_deciduous_total_volume_m3_ha"]
            
        }
    ]
    # Add the newly created species data to our main list.
    transformed_data_list.extend(species_data)
# Finally, create a single DataFrame from the combined list of all records.
df_transformed = pd.DataFrame(transformed_data_list)
print(df_transformed)

   Stand nr          Species  Height m  Volume m3/ha
0         0             Pine       9.2             0
1         0           Spruce      13.7           107
2         0            Birch      14.8            13
3         0  Other Deciduous      15.9             0
4         1             Pine       0.0             0
5         1           Spruce      13.7            89
6         1            Birch      13.2            14
7         1  Other Deciduous      14.6             4
8         2             Pine      19.5            10
9         2           Spruce      18.9           172
10        2            Birch      17.9             9
11        2  Other Deciduous      20.2             9
12        3             Pine      18.9            57
13        3           Spruce      17.5            45
14        3            Birch      17.6            91
15        3  Other Deciduous       0.0             0
16        4             Pine      20.3           141
17        4           Spruce      19.7            41
18        4            Birch      19.1            49
19        4  Other Deciduous       0.0             0
20        5             Pine       0.0             0
21        5           Spruce       7.3             2
22        5            Birch       8.5            10
23        5  Other Deciduous       9.1             7
24        6             Pine       0.0             0
25        6           Spruce      13.4            29
26        6            Birch       0.0             0
27        6  Other Deciduous      13.2            85
28        7             Pine      18.8            26
29        7           Spruce      18.4           129
30        7            Birch      18.0            24
31        7  Other Deciduous       0.0             0
32        8             Pine       0.0             0
33        8           Spruce       7.0             4
34        8            Birch       7.4             7
35        8  Other Deciduous       7.9            20
36        9             Pine       0.0             0
37        9           Spruce       0.0             0
38        9            Birch       8.1             5
39        9  Other Deciduous       8.5            37

### Reading in EXCEL file for Tree Names.

In [ ]:
import pandas as pd
# Reading in EXCEL file for Tree Names.
Tree_Name ='Data_Sources/Tree_Name_mapping.xlsx'
df_Tree_Name = pd.read_excel(Tree_Name)
# Printing the table out.
print(df_Tree_Name)

   Name_EE Name_ENG
0       MA     pine
1       KU   spruce
2       KS    birch
3       LV      NaN
4       HB      NaN
5       LM      NaN
6       TA      NaN
7       SA      NaN
8       VA      NaN
9       PP      NaN
10      PN      NaN
11      NU      NaN
12      LH      NaN
13      SD      NaN
14      TS      NaN
15      JA      NaN
16      KP      NaN
17      RE      NaN
18      TM      NaN
19      PI      NaN
20      TO      NaN
21      TL      NaN

### Merging two tables

In [ ]:
# Merging two tables on main species names and adding Name_EE, Name_ENG.
df_names_added = pd.merge(necessary_columns,df_Tree_Name , left_on='main_species', right_on='Name_ENG', how='left')
print(df_names_added)

  stand_number main_species  total_area_ha  total_volume_m3_ha  \
0            3         pine           0.55                 185
1            4         pine           0.78                 188
2            5         none           0.37                   0
3            6         pine           0.25                 133

   pine_bam_height_m  spruce_bam_height_m  birch_bam_height_m  \
0               15.8                    0                   0
1               16.6                    0                   0
2                0.0                    0                   0
3               13.7                    0                   0

   other_deciduous_bam_height_m  bam_dbh_cm Name_EE Name_ENG
0                             0          20      MA     pine
1                             0          22      MA     pine
2                             0           0     NaN      NaN
3                             0          19      MA     pine

### Reading in EXCEL file for relative height

In [ ]:
import pandas as pd
# Reading in EXCEL file for relative height.
h24 ='Data_Sources/h24.xlsx'
df_relative_heights = pd.read_excel(h24)
# Printing the table out.
print(df_relative_heights)

     d      MA     KU      KS      LV      HB      LM      TA      SA      VA  \
0    8  0.4300  0.350  0.5500  0.5500  0.5200  0.5200  0.3800  0.3800  0.3800
1    9  0.5000  0.410  0.6000  0.6000  0.5700  0.5700  0.4400  0.4400  0.4400
2   10  0.5500  0.470  0.6400  0.6400  0.6200  0.6200  0.5000  0.5000  0.5000
3   11  0.6100  0.530  0.6800  0.6800  0.6600  0.6600  0.5500  0.5500  0.5500
4   12  0.6500  0.580  0.7200  0.7200  0.7000  0.7000  0.6000  0.6000  0.6000
5   13  0.7000  0.630  0.7600  0.7600  0.7400  0.7400  0.6500  0.6500  0.6500
6   14  0.7400  0.680  0.7900  0.7900  0.7700  0.7700  0.7000  0.7000  0.7000
7   15  0.7700  0.720  0.8200  0.8200  0.8000  0.8000  0.7400  0.7400  0.7400
8   16  0.8100  0.760  0.8400  0.8400  0.8300  0.8300  0.7700  0.7700  0.7700
9   17  0.8400  0.800  0.8700  0.8700  0.8600  0.8600  0.8100  0.8100  0.8100
10  18  0.8700  0.830  0.8900  0.8900  0.8800  0.8800  0.8400  0.8400  0.8400
11  19  0.8900  0.860  0.9100  0.9100  0.9100  0.9100  0.8700  0.8700  0.8700
12  20  0.9200  0.890  0.9300  0.9300  0.9300  0.9300  0.9000  0.9000  0.9000
13  21  0.9400  0.920  0.9500  0.9500  0.9500  0.9500  0.9250  0.9250  0.9250
14  22  0.9600  0.950  0.9700  0.9700  0.9700  0.9700  0.9500  0.9500  0.9500
15  23  0.9800  0.975  0.9850  0.9850  0.9850  0.9850  0.9750  0.9750  0.9750
16  24  1.0000  1.000  1.0000  1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
17  25  1.0150  1.020  1.0150  1.0150  1.0150  1.0150  1.0200  1.0200  1.0200
18  26  1.0300  1.040  1.0300  1.0300  1.0300  1.0300  1.0400  1.0400  1.0400
19  27  1.0450  1.060  1.0400  1.0400  1.0450  1.0450  1.0600  1.0600  1.0600
20  28  1.0600  1.080  1.0500  1.0500  1.0600  1.0600  1.0800  1.0800  1.0800
21  29  1.0750  1.100  1.0650  1.0650  1.0700  1.0700  1.0950  1.0950  1.0950
22  30  1.0900  1.120  1.0800  1.0800  1.0800  1.0800  1.1100  1.1100  1.1100
23  31  1.1050  1.135  1.0900  1.0900  1.0900  1.0900  1.1250  1.1250  1.1250
24  32  1.1200  1.150  1.1000  1.1000  1.1000  1.1000  1.1400  1.1400  1.1400
25  33  1.1300  1.165  1.1100  1.1100  1.1100  1.1100  1.1525  1.1525  1.1525
26  34  1.1400  1.180  1.1200  1.1200  1.1200  1.1200  1.1650  1.1650  1.1650
27  35  1.1500  1.195  1.1300  1.1300  1.1300  1.1300  1.1775  1.1775  1.1775
28  36  1.1600  1.210  1.1400  1.1400  1.1400  1.1400  1.1900  1.1900  1.1900
29  37  1.1675  1.220  1.1475  1.1475  1.1475  1.1475  1.2000  1.2000  1.2000
30  38  1.1750  1.230  1.1550  1.1550  1.1550  1.1550  1.2100  1.2100  1.2100
31  39  1.1825  1.240  1.1625  1.1625  1.1625  1.1625  1.2200  1.2200  1.2200
32  40  1.1900  1.250  1.1700  1.1700  1.1700  1.1700  1.2300  1.2300  1.2300

    ...      LH      SD     TS      JA      KP      RE      TM      PI  \
0   ...  0.4300  0.4300  0.350  0.3800  0.3800  0.5500  0.5500  0.5500
1   ...  0.5000  0.5000  0.410  0.4400  0.4400  0.6000  0.6000  0.6000
2   ...  0.5500  0.5500  0.470  0.5000  0.5000  0.6400  0.6400  0.6400
3   ...  0.6100  0.6100  0.530  0.5500  0.5500  0.6800  0.6800  0.6800
4   ...  0.6500  0.6500  0.580  0.6000  0.6000  0.7200  0.7200  0.7200
5   ...  0.7000  0.7000  0.630  0.6500  0.6500  0.7600  0.7600  0.7600
6   ...  0.7400  0.7400  0.680  0.7000  0.7000  0.7900  0.7900  0.7900
7   ...  0.7700  0.7700  0.720  0.7400  0.7400  0.8200  0.8200  0.8200
8   ...  0.8100  0.8100  0.760  0.7700  0.7700  0.8400  0.8400  0.8400
9   ...  0.8400  0.8400  0.800  0.8100  0.8100  0.8700  0.8700  0.8700
10  ...  0.8700  0.8700  0.830  0.8400  0.8400  0.8900  0.8900  0.8900
11  ...  0.8900  0.8900  0.860  0.8700  0.8700  0.9100  0.9100  0.9100
12  ...  0.9200  0.9200  0.890  0.9000  0.9000  0.9300  0.9300  0.9300
13  ...  0.9400  0.9400  0.920  0.9250  0.9250  0.9500  0.9500  0.9500
14  ...  0.9600  0.9600  0.950  0.9500  0.9500  0.9700  0.9700  0.9700
15  ...  0.9800  0.9800  0.975  0.9750  0.9750  0.9850  0.9850  0.9850
16  ...  1.0000  1.0000  1.000  1.0000  1.0000  1.0000  1.0000  1.0000
17  ...  1.0150  1.0150  1.020  1.0200  1.0200  1.0150  1.0150  1.0150
18  ...  1.0300  1.0300  1.040  1.0400  1.0400  1.0300  1.0300  1.0300
19  ...  1.0450  1.0450  1.060  1.0600  1.0600  1.0400  1.0400  1.0400
20  ...  1.0600  1.0600  1.080  1.0800  1.0800  1.0500  1.0500  1.0500
21  ...  1.0750  1.0750  1.100  1.0950  1.0950  1.0650  1.0650  1.0650
22  ...  1.0900  1.0900  1.120  1.1100  1.1100  1.0800  1.0800  1.0800
23  ...  1.1050  1.1050  1.135  1.1250  1.1250  1.0900  1.0900  1.0900
24  ...  1.1200  1.1200  1.150  1.1400  1.1400  1.1000  1.1000  1.1000
25  ...  1.1300  1.1300  1.165  1.1525  1.1525  1.1100  1.1100  1.1100
26  ...  1.1400  1.1400  1.180  1.1650  1.1650  1.1200  1.1200  1.1200
27  ...  1.1500  1.1500  1.195  1.1775  1.1775  1.1300  1.1300  1.1300
28  ...  1.1600  1.1600  1.210  1.1900  1.1900  1.1400  1.1400  1.1400
29  ...  1.1675  1.1675  1.220  1.2000  1.2000  1.1475  1.1475  1.1475
30  ...  1.1750  1.1750  1.230  1.2100  1.2100  1.1550  1.1550  1.1550
31  ...  1.1825  1.1825  1.240  1.2200  1.2200  1.1625  1.1625  1.1625
32  ...  1.1900  1.1900  1.250  1.2300  1.2300  1.1700  1.1700  1.1700

        TO      TL
0   0.4300  0.5500
1   0.5000  0.6000
2   0.5500  0.6400
3   0.6100  0.6800
4   0.6500  0.7200
5   0.7000  0.7600
6   0.7400  0.7900
7   0.7700  0.8200
8   0.8100  0.8400
9   0.8400  0.8700
10  0.8700  0.8900
11  0.8900  0.9100
12  0.9200  0.9300
13  0.9400  0.9500
14  0.9600  0.9700
15  0.9800  0.9850
16  1.0000  1.0000
17  1.0150  1.0150
18  1.0300  1.0300
19  1.0450  1.0400
20  1.0600  1.0500
21  1.0750  1.0650
22  1.0900  1.0800
23  1.1050  1.0900
24  1.1200  1.1000
25  1.1300  1.1100
26  1.1400  1.1200
27  1.1500  1.1300
28  1.1600  1.1400
29  1.1675  1.1475
30  1.1750  1.1550
31  1.1825  1.1625
32  1.1900  1.1700

[33 rows x 23 columns]

In [ ]:
import pandas as pd
# Reading in EXCEL file for type proportions.
type_proportions ='Data_Sources/Type_proportions.xlsx'
df_type_proportions = pd.read_excel(type_proportions)
# Printing the table out.
print(df_type_proportions)

     d klass+pl+h24 x m  k천rgus      palk     peenp     paber      k체te  \
0                 8MA16     8.0  0.000000  0.000000  0.000000  0.500000
1                12MA16    11.0  0.000000  0.000000  0.714286  0.000000
2                16MA16    13.0  0.000000  0.333333  0.400000  0.000000
3                20MA16    15.0  0.000000  0.680000  0.080000  0.000000
4                24MA16    16.0  0.289474  0.368421  0.105263  0.000000
...                 ...     ...       ...       ...       ...       ...
3205             36PN27    32.0  0.000000  0.000000  0.000000  0.794521
3206             40PN27    33.0  0.000000  0.000000  0.000000  0.795699
3207             44PN27    34.0  0.000000  0.000000  0.000000  0.800000
3208             48PN27    35.0  0.000000  0.000000  0.000000  0.806452
3209             52PN27    35.0  0.000000  0.000000  0.000000  0.804805

       j채채tmed  kokku
0     0.500000    1.0
1     0.285714    1.0
2     0.266667    1.0
3     0.240000    1.0
4     0.236842    1.0
...        ...    ...
3205  0.205479    1.0
3206  0.204301    1.0
3207  0.200000    1.0
3208  0.193548    1.0
3209  0.195195    1.0

[3210 rows x 8 columns]