### Defining costs

In [76]:
Kulud = {
  "Kompleksteenus(€/tm)": 15,
  "Transport (€/tm)": 6,
  "Alghinna(%)": 10
}

### Reading in EXCEL file for wood prices.

In [77]:
import pandas as pd
# Reading in EXCEL file for wood prices.
h24 ='Data_Sources\Wood_prices.xlsx'
df_wood_prices = pd.read_excel(h24)
# Printing the table out.
print(df_wood_prices)

                    Sortiment  Hind (€)
0                     Ma palk        95
1                     Ku palk        95
2                Ks palk/pakk       110
3                     Hb palk        58
4                     Lm palk        60
5                     Lv palk        50
6                     Sa palk        40
7                     Ta palk        40
8                     Lh palk        40
9                     Sd palk        40
10  Lehtpuu palk (Va, Ja, Kp)        35
11                Ma peenpalk        64
12                Ku peenpalk        64
13              Ma paberipuit        62
14              Ku paberipuit        62
15              Ks paberipuit        50
16              Hb paberipuit        50
17                  Küttepuit        39
18                    Jäätmed         3

<>:3: SyntaxWarning: invalid escape sequence '\W'
<>:3: SyntaxWarning: invalid escape sequence '\W'
C:\Users\opilane\AppData\Local\Temp\ipykernel_14292\2139545823.py:3: SyntaxWarning: invalid escape sequence '\W'
  h24 ='Data_Sources\Wood_prices.xlsx'

### Reading in the JSON file for a specific cadastral.

In [78]:
import json
import pandas as pd

# Reading in JSON file for a specific cadastral.
f = open('Data_Sources/response_1755862007859.json')
d = json.load(f)
e = d['stands']

# Create an empty list to store the new, transformed data records.
transformed_data_list = []
# Loop through each individual record (which is a dictionary) in the list.
for record in e:
    # Extract the stand number for the current record.
    stand_number = record["stand_number"]
    # Now you can safely access the values using keys from this single record.
    # Create a list of dictionaries for each species in the current record.
    species_data = [
        {
            "Stand nr": stand_number,
            "Species": "Pine",
            "Height m": record["pine_bam_height_m"],
            "Diameter cm": record["pine_bam_dbh_cm"],
            "Area ha": record["total_area_ha"],
            "Volume m3/ha": record["pine_total_volume_m3_ha"],
            "Stock m3": record["total_area_ha"] * record["pine_total_volume_m3_ha"]
        },
        {
            "Stand nr": stand_number,
            "Species": "Spruce",
            "Height m": record["spruce_bam_height_m"],
            "Diameter cm": record["spruce_bam_dbh_cm"],
            "Area ha": record["total_area_ha"],
            "Volume m3/ha": record["spruce_total_volume_m3_ha"],
            "Stock m3": record["total_area_ha"] * record["spruce_total_volume_m3_ha"]
        },
        {
            "Stand nr": stand_number,
            "Species": "Birch",
            "Height m": record["birch_bam_height_m"],
            "Diameter cm": record["birch_bam_dbh_cm"],
            "Area ha": record["total_area_ha"],
            "Volume m3/ha": record["birch_total_volume_m3_ha"],
            "Stock m3": record["total_area_ha"] * record["birch_total_volume_m3_ha"]
        
        },
        {
            "Stand nr": stand_number,
            "Species": "Other Deciduous",
            "Height m": record["other_deciduous_bam_height_m"],
            "Diameter cm": record["other_deciduous_bam_dbh_cm"],
            "Area ha": record["total_area_ha"],
            "Volume m3/ha": record["other_deciduous_total_volume_m3_ha"],
            "Stock m3": record["total_area_ha"] * record["other_deciduous_total_volume_m3_ha"],
            
        }
    ]
    # Add the newly created species data to our main list.
    transformed_data_list.extend(species_data)
# Finally, create a single DataFrame from the combined list of all records.
df_transformed = pd.DataFrame(transformed_data_list)
print(df_transformed.head())

  Stand nr          Species  Height m  Diameter cm  Area ha  Volume m3/ha  \
0        3             Pine      15.8           20     0.55           185
1        3           Spruce       0.0            0     0.55             0
2        3            Birch       0.0            0     0.55             0
3        3  Other Deciduous       0.0            0     0.55             0
4        4             Pine      16.6           22     0.78           188

   Stock m3
0    101.75
1      0.00
2      0.00
3      0.00
4    146.64

### Reading in EXCEL file for Tree Names.

In [79]:
import pandas as pd

# Reading in EXCEL file for Tree Names.
Tree_Name ='Data_Sources/Tree_Name_mapping.xlsx'
df_Tree_Name = pd.read_excel(Tree_Name)

#print(df_Tree_Name)

### Reading in EXCEL file for relative height

In [80]:
import pandas as pd
# Reading in EXCEL file for relative height.
h24 ='Data_Sources/h24.xlsx'
df_relative_heights = pd.read_excel(h24)
# Printing the table out.
print(df_relative_heights)

     d      MA     KU      KS      LV      HB      LM      TA      SA      VA  \
0    8  0.4300  0.350  0.5500  0.5500  0.5200  0.5200  0.3800  0.3800  0.3800
1    9  0.5000  0.410  0.6000  0.6000  0.5700  0.5700  0.4400  0.4400  0.4400
2   10  0.5500  0.470  0.6400  0.6400  0.6200  0.6200  0.5000  0.5000  0.5000
3   11  0.6100  0.530  0.6800  0.6800  0.6600  0.6600  0.5500  0.5500  0.5500
4   12  0.6500  0.580  0.7200  0.7200  0.7000  0.7000  0.6000  0.6000  0.6000
5   13  0.7000  0.630  0.7600  0.7600  0.7400  0.7400  0.6500  0.6500  0.6500
6   14  0.7400  0.680  0.7900  0.7900  0.7700  0.7700  0.7000  0.7000  0.7000
7   15  0.7700  0.720  0.8200  0.8200  0.8000  0.8000  0.7400  0.7400  0.7400
8   16  0.8100  0.760  0.8400  0.8400  0.8300  0.8300  0.7700  0.7700  0.7700
9   17  0.8400  0.800  0.8700  0.8700  0.8600  0.8600  0.8100  0.8100  0.8100
10  18  0.8700  0.830  0.8900  0.8900  0.8800  0.8800  0.8400  0.8400  0.8400
11  19  0.8900  0.860  0.9100  0.9100  0.9100  0.9100  0.8700  0.8700  0.8700
12  20  0.9200  0.890  0.9300  0.9300  0.9300  0.9300  0.9000  0.9000  0.9000
13  21  0.9400  0.920  0.9500  0.9500  0.9500  0.9500  0.9250  0.9250  0.9250
14  22  0.9600  0.950  0.9700  0.9700  0.9700  0.9700  0.9500  0.9500  0.9500
15  23  0.9800  0.975  0.9850  0.9850  0.9850  0.9850  0.9750  0.9750  0.9750
16  24  1.0000  1.000  1.0000  1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
17  25  1.0150  1.020  1.0150  1.0150  1.0150  1.0150  1.0200  1.0200  1.0200
18  26  1.0300  1.040  1.0300  1.0300  1.0300  1.0300  1.0400  1.0400  1.0400
19  27  1.0450  1.060  1.0400  1.0400  1.0450  1.0450  1.0600  1.0600  1.0600
20  28  1.0600  1.080  1.0500  1.0500  1.0600  1.0600  1.0800  1.0800  1.0800
21  29  1.0750  1.100  1.0650  1.0650  1.0700  1.0700  1.0950  1.0950  1.0950
22  30  1.0900  1.120  1.0800  1.0800  1.0800  1.0800  1.1100  1.1100  1.1100
23  31  1.1050  1.135  1.0900  1.0900  1.0900  1.0900  1.1250  1.1250  1.1250
24  32  1.1200  1.150  1.1000  1.1000  1.1000  1.1000  1.1400  1.1400  1.1400
25  33  1.1300  1.165  1.1100  1.1100  1.1100  1.1100  1.1525  1.1525  1.1525
26  34  1.1400  1.180  1.1200  1.1200  1.1200  1.1200  1.1650  1.1650  1.1650
27  35  1.1500  1.195  1.1300  1.1300  1.1300  1.1300  1.1775  1.1775  1.1775
28  36  1.1600  1.210  1.1400  1.1400  1.1400  1.1400  1.1900  1.1900  1.1900
29  37  1.1675  1.220  1.1475  1.1475  1.1475  1.1475  1.2000  1.2000  1.2000
30  38  1.1750  1.230  1.1550  1.1550  1.1550  1.1550  1.2100  1.2100  1.2100
31  39  1.1825  1.240  1.1625  1.1625  1.1625  1.1625  1.2200  1.2200  1.2200
32  40  1.1900  1.250  1.1700  1.1700  1.1700  1.1700  1.2300  1.2300  1.2300

    ...      LH      SD     TS      JA      KP      RE      TM      PI  \
0   ...  0.4300  0.4300  0.350  0.3800  0.3800  0.5500  0.5500  0.5500
1   ...  0.5000  0.5000  0.410  0.4400  0.4400  0.6000  0.6000  0.6000
2   ...  0.5500  0.5500  0.470  0.5000  0.5000  0.6400  0.6400  0.6400
3   ...  0.6100  0.6100  0.530  0.5500  0.5500  0.6800  0.6800  0.6800
4   ...  0.6500  0.6500  0.580  0.6000  0.6000  0.7200  0.7200  0.7200
5   ...  0.7000  0.7000  0.630  0.6500  0.6500  0.7600  0.7600  0.7600
6   ...  0.7400  0.7400  0.680  0.7000  0.7000  0.7900  0.7900  0.7900
7   ...  0.7700  0.7700  0.720  0.7400  0.7400  0.8200  0.8200  0.8200
8   ...  0.8100  0.8100  0.760  0.7700  0.7700  0.8400  0.8400  0.8400
9   ...  0.8400  0.8400  0.800  0.8100  0.8100  0.8700  0.8700  0.8700
10  ...  0.8700  0.8700  0.830  0.8400  0.8400  0.8900  0.8900  0.8900
11  ...  0.8900  0.8900  0.860  0.8700  0.8700  0.9100  0.9100  0.9100
12  ...  0.9200  0.9200  0.890  0.9000  0.9000  0.9300  0.9300  0.9300
13  ...  0.9400  0.9400  0.920  0.9250  0.9250  0.9500  0.9500  0.9500
14  ...  0.9600  0.9600  0.950  0.9500  0.9500  0.9700  0.9700  0.9700
15  ...  0.9800  0.9800  0.975  0.9750  0.9750  0.9850  0.9850  0.9850
16  ...  1.0000  1.0000  1.000  1.0000  1.0000  1.0000  1.0000  1.0000
17  ...  1.0150  1.0150  1.020  1.0200  1.0200  1.0150  1.0150  1.0150
18  ...  1.0300  1.0300  1.040  1.0400  1.0400  1.0300  1.0300  1.0300
19  ...  1.0450  1.0450  1.060  1.0600  1.0600  1.0400  1.0400  1.0400
20  ...  1.0600  1.0600  1.080  1.0800  1.0800  1.0500  1.0500  1.0500
21  ...  1.0750  1.0750  1.100  1.0950  1.0950  1.0650  1.0650  1.0650
22  ...  1.0900  1.0900  1.120  1.1100  1.1100  1.0800  1.0800  1.0800
23  ...  1.1050  1.1050  1.135  1.1250  1.1250  1.0900  1.0900  1.0900
24  ...  1.1200  1.1200  1.150  1.1400  1.1400  1.1000  1.1000  1.1000
25  ...  1.1300  1.1300  1.165  1.1525  1.1525  1.1100  1.1100  1.1100
26  ...  1.1400  1.1400  1.180  1.1650  1.1650  1.1200  1.1200  1.1200
27  ...  1.1500  1.1500  1.195  1.1775  1.1775  1.1300  1.1300  1.1300
28  ...  1.1600  1.1600  1.210  1.1900  1.1900  1.1400  1.1400  1.1400
29  ...  1.1675  1.1675  1.220  1.2000  1.2000  1.1475  1.1475  1.1475
30  ...  1.1750  1.1750  1.230  1.2100  1.2100  1.1550  1.1550  1.1550
31  ...  1.1825  1.1825  1.240  1.2200  1.2200  1.1625  1.1625  1.1625
32  ...  1.1900  1.1900  1.250  1.2300  1.2300  1.1700  1.1700  1.1700

        TO      TL
0   0.4300  0.5500
1   0.5000  0.6000
2   0.5500  0.6400
3   0.6100  0.6800
4   0.6500  0.7200
5   0.7000  0.7600
6   0.7400  0.7900
7   0.7700  0.8200
8   0.8100  0.8400
9   0.8400  0.8700
10  0.8700  0.8900
11  0.8900  0.9100
12  0.9200  0.9300
13  0.9400  0.9500
14  0.9600  0.9700
15  0.9800  0.9850
16  1.0000  1.0000
17  1.0150  1.0150
18  1.0300  1.0300
19  1.0450  1.0400
20  1.0600  1.0500
21  1.0750  1.0650
22  1.0900  1.0800
23  1.1050  1.0900
24  1.1200  1.1000
25  1.1300  1.1100
26  1.1400  1.1200
27  1.1500  1.1300
28  1.1600  1.1400
29  1.1675  1.1475
30  1.1750  1.1550
31  1.1825  1.1625
32  1.1900  1.1700

[33 rows x 23 columns]

### Reading in EXCEL file for type proportions

In [81]:
import pandas as pd
# Reading in EXCEL file for type proportions.
type_proportions ='Data_Sources/Type_proportions.xlsx'
df_type_proportions = pd.read_excel(type_proportions)

# Printing the table out.
print(df_type_proportions)

     d klass+pl+h24 x m  kõrgus      palk     peenp     paber      küte  \
0                 8MA16     8.0  0.000000  0.000000  0.000000  0.500000
1                12MA16    11.0  0.000000  0.000000  0.714286  0.000000
2                16MA16    13.0  0.000000  0.333333  0.400000  0.000000
3                20MA16    15.0  0.000000  0.680000  0.080000  0.000000
4                24MA16    16.0  0.289474  0.368421  0.105263  0.000000
...                 ...     ...       ...       ...       ...       ...
3205             36PN27    32.0  0.000000  0.000000  0.000000  0.794521
3206             40PN27    33.0  0.000000  0.000000  0.000000  0.795699
3207             44PN27    34.0  0.000000  0.000000  0.000000  0.800000
3208             48PN27    35.0  0.000000  0.000000  0.000000  0.806452
3209             52PN27    35.0  0.000000  0.000000  0.000000  0.804805

       jäätmed  kokku
0     0.500000    1.0
1     0.285714    1.0
2     0.266667    1.0
3     0.240000    1.0
4     0.236842    1.0
...        ...    ...
3205  0.205479    1.0
3206  0.204301    1.0
3207  0.200000    1.0
3208  0.193548    1.0
3209  0.195195    1.0

[3210 rows x 8 columns]

### Merging two tables

In [82]:
# Merging two tables on main species names and adding Name_EE, Name_ENG.
df_liidetud = pd.merge(df_transformed, df_Tree_Name, left_on='Species', right_on='Name_ENG', how='left')
print(df_liidetud.head())

  Stand nr          Species  Height m  Diameter cm  Area ha  Volume m3/ha  \
0        3             Pine      15.8           20     0.55           185
1        3           Spruce       0.0            0     0.55             0
2        3            Birch       0.0            0     0.55             0
3        3  Other Deciduous       0.0            0     0.55             0
4        4             Pine      16.6           22     0.78           188

   Stock m3 Name_EE         Name_ENG
0    101.75      MA             Pine
1      0.00      KU           Spruce
2      0.00      KS            Birch
3      0.00      LV  Other Deciduous
4    146.64      MA             Pine

### Adding a 'h24 coefficient' and 'h24' column to the table.

In [83]:
import numpy as np

df_liidetud['h24 coefficient'] = np.nan

for index, row in df_liidetud.iterrows():
    name_ee = row['Name_EE']
    diameter_cm = row['Diameter cm']
    try:
        # Look up the correct value from df_relative_heights table.
        h24_value = df_relative_heights.loc[df_relative_heights['d'] == diameter_cm, name_ee]
        # When the value is found add it to the column 
        if not h24_value.empty:
            df_liidetud.at[index, 'h24 coefficient'] = h24_value.values[0]
    except KeyError:
        # When there isn´t a value add NaN to the row
        pass

# Adding a 'h24' column to the table.
df_liidetud['h24'] = df_liidetud.apply(
    lambda row: 16 if (pd.notna(row['Height m']) and pd.notna(row['h24 coefficient']) and row['h24 coefficient'] != 0 and (np.ceil(row['Height m'] / row['h24 coefficient'])) < 16) else (int(np.ceil(row['Height m'] / row['h24 coefficient'])) if pd.notna(row['Height m']) and pd.notna(row['h24 coefficient']) and row['h24 coefficient'] != 0 else np.nan),
    axis=1)
#
df_liidetud['h24'] = df_liidetud['h24'].astype('Int64')
print(df_liidetud)

   Stand nr          Species  Height m  Diameter cm  Area ha  Volume m3/ha  \
0         3             Pine      15.8           20     0.55           185
1         3           Spruce       0.0            0     0.55             0
2         3            Birch       0.0            0     0.55             0
3         3  Other Deciduous       0.0            0     0.55             0
4         4             Pine      16.6           22     0.78           188
5         4           Spruce       0.0            0     0.78             0
6         4            Birch       0.0            0     0.78             0
7         4  Other Deciduous       0.0            0     0.78             0
8         5             Pine       0.0            0     0.37             0
9         5           Spruce       0.0            0     0.37             0
10        5            Birch       0.0            0     0.37             0
11        5  Other Deciduous       0.0            0     0.37             0
12        6             Pine      13.7           19     0.25           133
13        6           Spruce       0.0            0     0.25             0
14        6            Birch       0.0            0     0.25             0
15        6  Other Deciduous       0.0            0     0.25             0

    Stock m3 Name_EE         Name_ENG  h24 coefficient   h24
0     101.75      MA             Pine             0.92    18
1       0.00      KU           Spruce              NaN  <NA>
2       0.00      KS            Birch              NaN  <NA>
3       0.00      LV  Other Deciduous              NaN  <NA>
4     146.64      MA             Pine             0.96    18
5       0.00      KU           Spruce              NaN  <NA>
6       0.00      KS            Birch              NaN  <NA>
7       0.00      LV  Other Deciduous              NaN  <NA>
8       0.00      MA             Pine              NaN  <NA>
9       0.00      KU           Spruce              NaN  <NA>
10      0.00      KS            Birch              NaN  <NA>
11      0.00      LV  Other Deciduous              NaN  <NA>
12     33.25      MA             Pine             0.89    16
13      0.00      KU           Spruce              NaN  <NA>
14      0.00      KS            Birch              NaN  <NA>
15      0.00      LV  Other Deciduous              NaN  <NA>

### Adding a 'Diameter category' column to the table

In [84]:
# Adding a 'Diameter category' column to the table.
def diameter_category(diameter_cm):
    if 5 <= diameter_cm <= 8:
        return 8
    elif 9 <= diameter_cm <= 12:
        return 12
    elif 13 <= diameter_cm <= 16:
        return 16
    elif 17 <= diameter_cm <= 20:
        return 20
    elif 21 <= diameter_cm <= 24:
        return 24
    elif 25 <= diameter_cm <= 28:
        return 28
    elif 29 <= diameter_cm <= 32:
        return 32
    elif 33 <= diameter_cm <= 36:
        return 36
    elif 37 <= diameter_cm <= 40:
        return 40
    elif 41 <= diameter_cm <= 44:
        return 44
    elif 45 <= diameter_cm <= 48:
        return 48
    elif 49 <= diameter_cm <= 52:
        return 52
    else:
        return None
# Adding a new column 'Diameter category'
# Using .apply() to use the function on 'Diameter cm' values.
df_liidetud['Diameter category'] = df_liidetud['Diameter cm'].apply(diameter_category)
# Printing the table out.

df_liidetud['Diameter category'] = df_liidetud['Diameter category'].astype('Int64')
print(df_liidetud)

   Stand nr          Species  Height m  Diameter cm  Area ha  Volume m3/ha  \
0         3             Pine      15.8           20     0.55           185
1         3           Spruce       0.0            0     0.55             0
2         3            Birch       0.0            0     0.55             0
3         3  Other Deciduous       0.0            0     0.55             0
4         4             Pine      16.6           22     0.78           188
5         4           Spruce       0.0            0     0.78             0
6         4            Birch       0.0            0     0.78             0
7         4  Other Deciduous       0.0            0     0.78             0
8         5             Pine       0.0            0     0.37             0
9         5           Spruce       0.0            0     0.37             0
10        5            Birch       0.0            0     0.37             0
11        5  Other Deciduous       0.0            0     0.37             0
12        6             Pine      13.7           19     0.25           133
13        6           Spruce       0.0            0     0.25             0
14        6            Birch       0.0            0     0.25             0
15        6  Other Deciduous       0.0            0     0.25             0

    Stock m3 Name_EE         Name_ENG  h24 coefficient   h24  \
0     101.75      MA             Pine             0.92    18
1       0.00      KU           Spruce              NaN  <NA>
2       0.00      KS            Birch              NaN  <NA>
3       0.00      LV  Other Deciduous              NaN  <NA>
4     146.64      MA             Pine             0.96    18
5       0.00      KU           Spruce              NaN  <NA>
6       0.00      KS            Birch              NaN  <NA>
7       0.00      LV  Other Deciduous              NaN  <NA>
8       0.00      MA             Pine              NaN  <NA>
9       0.00      KU           Spruce              NaN  <NA>
10      0.00      KS            Birch              NaN  <NA>
11      0.00      LV  Other Deciduous              NaN  <NA>
12     33.25      MA             Pine             0.89    16
13      0.00      KU           Spruce              NaN  <NA>
14      0.00      KS            Birch              NaN  <NA>
15      0.00      LV  Other Deciduous              NaN  <NA>

    Diameter category
0                  20
1                <NA>
2                <NA>
3                <NA>
4                  24
5                <NA>
6                <NA>
7                <NA>
8                <NA>
9                <NA>
10               <NA>
11               <NA>
12                 20
13               <NA>
14               <NA>
15               <NA>

### Adding a 'Proportion class' column to the table

In [85]:
df_liidetud['Proportion class'] = df_liidetud['Diameter category'].astype(str) + '' + df_liidetud['Name_EE'].astype(str) + '' + df_liidetud['h24'].astype(str)

print(df_liidetud)

   Stand nr          Species  Height m  Diameter cm  Area ha  Volume m3/ha  \
0         3             Pine      15.8           20     0.55           185
1         3           Spruce       0.0            0     0.55             0
2         3            Birch       0.0            0     0.55             0
3         3  Other Deciduous       0.0            0     0.55             0
4         4             Pine      16.6           22     0.78           188
5         4           Spruce       0.0            0     0.78             0
6         4            Birch       0.0            0     0.78             0
7         4  Other Deciduous       0.0            0     0.78             0
8         5             Pine       0.0            0     0.37             0
9         5           Spruce       0.0            0     0.37             0
10        5            Birch       0.0            0     0.37             0
11        5  Other Deciduous       0.0            0     0.37             0
12        6             Pine      13.7           19     0.25           133
13        6           Spruce       0.0            0     0.25             0
14        6            Birch       0.0            0     0.25             0
15        6  Other Deciduous       0.0            0     0.25             0

    Stock m3 Name_EE         Name_ENG  h24 coefficient   h24  \
0     101.75      MA             Pine             0.92    18
1       0.00      KU           Spruce              NaN  <NA>
2       0.00      KS            Birch              NaN  <NA>
3       0.00      LV  Other Deciduous              NaN  <NA>
4     146.64      MA             Pine             0.96    18
5       0.00      KU           Spruce              NaN  <NA>
6       0.00      KS            Birch              NaN  <NA>
7       0.00      LV  Other Deciduous              NaN  <NA>
8       0.00      MA             Pine              NaN  <NA>
9       0.00      KU           Spruce              NaN  <NA>
10      0.00      KS            Birch              NaN  <NA>
11      0.00      LV  Other Deciduous              NaN  <NA>
12     33.25      MA             Pine             0.89    16
13      0.00      KU           Spruce              NaN  <NA>
14      0.00      KS            Birch              NaN  <NA>
15      0.00      LV  Other Deciduous              NaN  <NA>

    Diameter category Proportion class
0                  20           20MA18
1                <NA>       <NA>KU<NA>
2                <NA>       <NA>KS<NA>
3                <NA>       <NA>LV<NA>
4                  24           24MA18
5                <NA>       <NA>KU<NA>
6                <NA>       <NA>KS<NA>
7                <NA>       <NA>LV<NA>
8                <NA>       <NA>MA<NA>
9                <NA>       <NA>KU<NA>
10               <NA>       <NA>KS<NA>
11               <NA>       <NA>LV<NA>
12                 20           20MA16
13               <NA>       <NA>KU<NA>
14               <NA>       <NA>KS<NA>
15               <NA>       <NA>LV<NA>

### Merging df_type_proportions with df_liidetud on 'Proportion class' to get the type proportions.

In [86]:
df_liidetud = pd.merge(df_liidetud, 
                     df_type_proportions, 
                     left_on='Proportion class', 
                     right_on='d klass+pl+h24 x m', 
                     how='inner')

# Dropping unnecessary columns from the table.
columns_to_drop = ['d klass+pl+h24 x m', 'kõrgus', 'kokku','Name_ENG']
df_liidetud = df_liidetud.drop(columns=columns_to_drop)

print(df_liidetud)

  Stand nr Species  Height m  Diameter cm  Area ha  Volume m3/ha  Stock m3  \
0        3    Pine      15.8           20     0.55           185    101.75
1        4    Pine      16.6           22     0.78           188    146.64
2        6    Pine      13.7           19     0.25           133     33.25

  Name_EE  h24 coefficient  h24  Diameter category Proportion class   palk  \
0      MA             0.92   18                 20           20MA18  0.000
1      MA             0.96   18                 24           24MA18  0.275
2      MA             0.89   16                 20           20MA16  0.000

      peenp     paber  küte   jäätmed
0  0.653846  0.115385  0.00  0.230769
1  0.450000  0.000000  0.05  0.225000
2  0.680000  0.080000  0.00  0.240000

### Calculating proportions for each row

In [87]:
columns_to_multiply = ['palk', 'peenp', 'paber', 'küte', 'jäätmed']

# Tsükkel, mis korrutab iga tulba
for column in columns_to_multiply:
    df_liidetud[column] = df_liidetud[column] * df_liidetud['Stock m3']

print(df_liidetud)

  Stand nr Species  Height m  Diameter cm  Area ha  Volume m3/ha  Stock m3  \
0        3    Pine      15.8           20     0.55           185    101.75
1        4    Pine      16.6           22     0.78           188    146.64
2        6    Pine      13.7           19     0.25           133     33.25

  Name_EE  h24 coefficient  h24  Diameter category Proportion class    palk  \
0      MA             0.92   18                 20           20MA18   0.000
1      MA             0.96   18                 24           24MA18  40.326
2      MA             0.89   16                 20           20MA16   0.000

       peenp      paber   küte    jäätmed
0  66.528846  11.740385  0.000  23.480769
1  65.988000   0.000000  7.332  32.994000
2  22.610000   2.660000  0.000   7.980000

### Creating a new dataframe to sum up 'Maht' and 'Hind'

In [88]:
# Creating a new DataFrame with the required data.
data = {
    'Sortiment': [
        'Ma palk', 'Ku palk', 'Ks palk/pakk', 'Teised liigid/Lv palk',
        'Ma peenpalk', 'Ku peenpalk',
        'Ma paberipuit', 'Ku paberipuit', 'Ks paberipuit', 'Teised liigid paberipuit',
        'Küttepuit', 'Jäätmed', 'Kokku'
    ],
    'Maht (tm)': [
        df_liidetud.loc[df_liidetud['Name_EE'] == 'MA', 'palk'].sum(),
        df_liidetud.loc[df_liidetud['Name_EE'] == 'KU', 'palk'].sum(),
        df_liidetud.loc[df_liidetud['Name_EE'] == 'KS', 'palk'].sum(),
        df_liidetud.loc[df_liidetud['Name_EE'] == 'LV', 'palk'].sum(),
        df_liidetud.loc[df_liidetud['Name_EE'] == 'MA', 'peenp'].sum(),
        df_liidetud.loc[df_liidetud['Name_EE'] == 'KU', 'peenp'].sum(),
        df_liidetud.loc[df_liidetud['Name_EE'] == 'MA', 'paber'].sum(),
        df_liidetud.loc[df_liidetud['Name_EE'] == 'KU', 'paber'].sum(),
        df_liidetud.loc[df_liidetud['Name_EE'] == 'KS', 'paber'].sum(),
        df_liidetud.loc[df_liidetud['Name_EE'] == 'LV', 'paber'].sum(),
        df_liidetud['küte'].sum(),
        df_liidetud['jäätmed'].sum(),
        0 # Placeholder for 'Kokku' row
    ],
    '€': [None]*13
}
# Calculating the 'Kokku' row
data['Maht (tm)'][-1] = sum(data['Maht (tm)'][:-1])
# Create DataFrame
MahtHindKokku = pd.DataFrame(data)
# Price correspondence
sortimentid = [
    'Ma palk', 'Ku palk', 'Ks palk/pakk', 'Teised liigid/Lv palk',
    'Ma peenpalk', 'Ku peenpalk',
    'Ma paberipuit', 'Ku paberipuit', 'Ks paberipuit', 'Teised liigid paberipuit',
    'Küttepuit', 'Jäätmed'
]
hinnanimed = [
    'Ma palk', 'Ku palk', 'Ks palk/pakk', 'Lv palk',
    'Ma peenpalk', 'Ku peenpalk',
    'Ma paberipuit', 'Ku paberipuit', 'Ks paberipuit', 'Hb paberipuit',
    'Küttepuit', 'Jäätmed'
]
# Find prices from df_wood_prices table
hindad = [
    df_wood_prices.loc[df_wood_prices['Sortiment'] == hinnanimed[i], 'Hind (€)'].values[0]
    for i in range(len(hinnanimed))
]
# Calculate € values
e_vaartused = [
    MahtHindKokku.loc[MahtHindKokku['Sortiment'] == sortimentid[i], 'Maht (tm)'].values[0] * hindad[i]
    for i in range(len(sortimentid))
]
# Adding the calculated € values to the DataFrame
MahtHindKokku.loc[:11, '€'] = e_vaartused
# Kokku row
MahtHindKokku.loc[12, '€'] = sum(e_vaartused)

MahtHindKokku['Maht (tm)'] = pd.to_numeric(MahtHindKokku['Maht (tm)'], errors='coerce').round(1)
MahtHindKokku['€'] = pd.to_numeric(MahtHindKokku['€'], errors='coerce').round(1)
print(MahtHindKokku)

                   Sortiment  Maht (tm)        €
0                    Ma palk       40.3   3831.0
1                    Ku palk        0.0      0.0
2               Ks palk/pakk        0.0      0.0
3      Teised liigid/Lv palk        0.0      0.0
4                Ma peenpalk      155.1   9928.1
5                Ku peenpalk        0.0      0.0
6              Ma paberipuit       14.4    892.8
7              Ku paberipuit        0.0      0.0
8              Ks paberipuit        0.0      0.0
9   Teised liigid paberipuit        0.0      0.0
10                 Küttepuit        7.3    285.9
11                   Jäätmed       64.5    193.4
12                     Kokku      281.6  15131.2

### Creating a new dataframe to get recommended starting bid

In [89]:
# Väärtuste arvutamine
maht_kokku = MahtHindKokku.loc[MahtHindKokku['Sortiment'] == 'Kokku', 'Maht (tm)'].values[0]
hind_kokku = MahtHindKokku.loc[MahtHindKokku['Sortiment'] == 'Kokku', '€'].values[0]
maht_jaatmeteta = MahtHindKokku['Maht (tm)'].sum() - MahtHindKokku.loc[MahtHindKokku['Sortiment'] == 'Jäätmed', 'Maht (tm)'].values[0] - maht_kokku

kulud_jaatmeteta = maht_jaatmeteta * (Kulud["Kompleksteenus(€/tm)"] + Kulud["Transport (€/tm)"])
tulud_kulud_jaatmeteta = hind_kokku - kulud_jaatmeteta
soovituslik_alghind = tulud_kulud_jaatmeteta * (1 - Kulud["Alghinna(%)"] / 100)

# Uus DataFrame
vaartus_df = pd.DataFrame({
    'Väärtus': [
        round(maht_kokku, 1),
        round(hind_kokku, 1),
        round(kulud_jaatmeteta, 1),
        round(tulud_kulud_jaatmeteta, 1),
        round(soovituslik_alghind, 1)
    ],
    'Ühik': [
        'tm',
        '€',
        '€',
        '€',
        '€'
    ]
}, index=[
    'Maht kokku',
    'Hind kokku',
    'Kulud (jäätmeteta)',
    'Tulud-kulud (jäätmeteta)',
    'Soovituslik alghind'
])

print(vaartus_df)

                          Väärtus Ühik
Maht kokku                  281.6   tm
Hind kokku                15131.2    €
Kulud (jäätmeteta)         4559.1    €
Tulud-kulud (jäätmeteta)  10572.1    €
Soovituslik alghind        9514.9    €